@model IEnumerable<JobPortal.Model.DataViewModel.Admin.Notifications.EmailTemplateViewModel>

    @{
    ViewData["Title"] = "Users Reviews";
    }
    <div class="dashboard-content">
        <!-- Titlebar -->
        <div id="titlebar">
            <div class="row">
                <div class="col-md-12">
                    <h3>Email Templates</h3>
                    <!-- Breadcrumbs -->
                    <nav id="breadcrumbs">
                        <ul>
                            <li><a href="/Dashboard">Dashboard</a></li>
                            <li>Email Templates</li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 table-responsive ">

               <button type="submit" class="btn btn-primary btn-sm" id="AddNew" style="" data-toggle="modal" data-name="" data-target="#PopUpModal" onclick="AddNew()">Add New</button>
                <table class="table table-striped table-bordered dt-responsive nowrap " id="dataTable">
                    <thead>
                        <tr>

                            <th hidden>Id</th>
                            <th>Name</th>
                            <th>Subject</th>
                            <th hidden>EmailBody</th>
                            <th>UserRole</th>
                            <th></th>
                            
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var templates in Model)
                    {
                        <tr>

                            <td hidden>@templates.Id</td>
                            <td>@templates.Name</td>
                            <td>@templates.Subject</td>
                            <td hidden>@templates.EmailBody</td>
                            <td>@templates.UserRole</td>
                           
                            

                            <td class="action">
                                <a href="javascript:void(0);" data-toggle="modal" data-name="" data-target="#PopUpModal" onclick="edit(this)"><i class="fa fa-pencil"></i> Edit</a><br />
                                <a href="javascript:void(0);" onclick="deletedata(@templates.Id)"><i class="fa fa-remove"></i> Delete</a><br />
                            </td>
                        </tr>
                    }
                    </tbody>
                </table>
            </div>
        </div>
    </div>


    <div class="modal fade" id="PopUpModal" tabindex="-1" role="dialog" aria-labelledby="locationModalCenter" aria-hidden="true" style="background-color: rgb(128 128 128 / 88%);">
        <div class="dashboard-content">
            <div class="row">
                <div class="col-lg-6 col-md-6 popupdata">
                    <label class="close close-model" data-dismiss="modal">&times;</label>
                    <div class="dashboard-list-box margin-top-5">
                        <h4 id="PopUpModalLabel">Edit Record</h4>
                        <div class="dashboard-list-box-content">
                            <div class="submit-page">

                                <div class="form" hidden>
                                    <h5>Template Id</h5>
                                    <input type="text" id="TemplateId" readonly class="search-field eduModeltxtbox" placeholder="Job Post Id">
                                </div>

                                <div class="form" style="width:100%">
                                    <h5>Name</h5>
                                    <input type="text" id="TemplateName" required class="search-field eduModeltxtbox" placeholder="Name">
                                </div>
                                <div class="form" style="width:100%">
                                    <h5>Subject</h5>
                                    <input type="text" id="TemplateSubject" required class="search-field eduModeltxtbox" placeholder="Name">
                                </div>
                                <div class="form" style="width:100%">
                                    <h5>User Role</h5>
                                    <select class="selectDropdown" id="UserRole" required>
                                        <option selected value="0">Story For</option>
                                        <option value="3">Employer</option>
                                        <option value="2">Student</option>
                                    </select>
                                </div>
                                <div class="form" style="width:100%">
                                    <h5>Template Html</h5>
                                    <textarea id="TemplateHtml" required class="search-field eduModeltxtbox"></textarea>
                                </div>
                                <div class="form" style="width:33%" id="savebtn">
                                    <input type="submit" id="SaveRec" class="button border fw margin-top-10  pull-right" onclick="AddData(this)" value="Save" />
                                </div>
                                <div class="form" style="width:33%" id="savebtn">
                                    <input type="submit" id="UpdateRec" class="button border fw margin-top-10  pull-right" onclick="Updatedata(this)" value="Update" />
                                </div>

                                <div class="form" style="width:33%">
                                    <input type="button" class="button border fw margin-top-10 " data-dismiss="modal" value="Close" />
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>




    <script src="~/lib/datatable/js/jquery.dataTables.min.js"></script>
    <script src="~/lib/datatable/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/js/Admin/SendNotification/EmailTemplate.js"></script>