@model IEnumerable<JobPortal.Model.DataViewModel.Admin.Advertisements.AdvertisementsViewModel>
@{
    ViewData["Title"] = "Cities";
}
<link href="~/css/CommanPopup.css" rel="stylesheet" />
<style>
    .dashboard-content .submit-page {
        display: block;
    }
</style>
<div class="dashboard-content">
    <div id="titlebar">
        <div class="row">
            <div class="col-md-12">
                <!-- Breadcrumbs -->
                <h3>Advertisements</h3>
                <nav id="breadcrumbs">
                    <ul>
                        <li><a href="javascript:void(0)">Dashboard</a></li>
                        <li>Advertisements</li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 table-responsive">
            <div class="form">
                <input type="submit" class="button border fw margin-top-0 pull-right" id="AddNew" data-toggle="modal" data-name="" onclick="AddNew()" data-target="#PopUpModal" value="Add New" />
            </div>
            <table class="table table-striped table-bordered dt-responsive nowrap" id="dataTable">
                <thead>
                    <tr>
                        <th hidden>Id</th>
                        <th>ImagePath</th>
                        <th>JobPage</th>
                        <th>Section</th>
                        <th>Display Order</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td hidden>@item.Id</td>
                            <td>@item.ImagePath</td>
                            <td>@item.JobPage</td>
                            <td>@item.Section</td>
                            <td>@item.Order</td>
                            <td class="action">
                                <a href="javascript:void(0);" data-toggle="modal" data-name="" data-target="#PopUpModal" onclick="edit(this)"><i class="fa fa-pencil"></i> Edit</a><br />
                                <a href="javascript:void(0);" onclick="Confirmdeleteads('@(item.Id)')"><i class="fa fa-remove"></i> Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<!--Modal-->

<div class="modal fade" id="PopUpModal" tabindex="-1" role="dialog" aria-labelledby="digitalModalCenter" aria-hidden="true" style="background-color: rgb(128 128 128 / 88%);">
    <div class="dashboard-content">
        <div class="row">
            <div class="col-lg-6 col-md-6 popupdata">
                <label class="close close-model" data-dismiss="modal">&times;</label>
                <div class="dashboard-list-box margin-top-5">
                    <h4 id="PopUpModalLabel">Edit Record</h4>
                    <div class="dashboard-list-box-content">
                        <div class="submit-page">
                            <div class="form" style="display:none">
                                <h5>User ID</h5>
                                <input type="text" name="Id" id="Id" class="search-field eduModeltxtbox" placeholder="User Id">
                            </div>

                            <div class="form" style="width:100%">
                                <h5>Select Image</h5>
                                <input type="file" name="ImageFile" id="ImageFile" class="search-field eduModeltxtbox" placeholder="Select Image">
                            </div>
                            <div class="form" style="width:100%">
                                <h5>Section</h5>
                                <select class="selectDropdown" id="Section" required>
                                    <option selected value="1">Section 1</option>
                                    <option value="2">Section 2</option>
                                </select>
                            </div>
                            <div class="form" style="width:100%">
                                <h5>Display Order</h5>
                                <input type="number" min="0" maxlength="2" name="Order" id="order" required class="search-field eduModeltxtbox" placeholder="Order of Display">
                            </div>
                            <div class="form" style="width:100%">
                                <h5>Job Page Link</h5>
                                <input type="text" name="JobPage" id="JobPage" required class="search-field eduModeltxtbox" placeholder="Job Detail Page Link">
                            </div>

                            <div class="form" style="width:33%;display:inline" id="savebtn">
                                <input type="submit" id="SaveRec" class="button border fw margin-top-10" onclick="adddigitaldisplay()" value="Save" />
                            </div>
                            <div class="form" style="width:33%;display:inline" id="updatebtn">
                                <input type="submit" id="Update" class="button border fw margin-top-10" onclick="updatedigitaldisplay()" value="Update" />
                            </div>
                            <div class="form" style="width:33%;display:inline">
                                <input type="button" class="button border fw margin-top-10 " data-dismiss="modal" value="Close" />
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/lib/datatable/js/jquery.dataTables.min.js"></script>
<script src="~/lib/datatable/js/dataTables.bootstrap4.min.js"></script>
<script>
    $(document).ready(function () {
        $('#dataTable').dataTable({
            // 'columnDefs': [{ "searchable": false, 'orderable': false, 'targets': 5 }]
            aoColumnDefs: [
                {
                    bSortable: false,
                    aTargets: [-1]

                },
                {
                    bSearchable: false,
                    aTargets: [-1]
                }
            ]
        });
        $('#dataTable_paginate').addClass('data-table-pasiganation');
        $('#dataTable_length').addClass('data-table-lenthFilter');
        $('#dataTable_filter').addClass('data-table-SearchFilter');
    });
    $("#ImageFile").change(function (e) {
        var _URL = window.URL || window.webkitURL;
        var file, img;
        if (file = this.files[0]) {
            debugger;
            var fileName, fileExtension;
            // FILE NAME AND EXTENSION.
            fileName = file.name;
            fileExtension = fileName.replace(/^.*\./, '');

            // CHECK IF ITS AN IMAGE FILE.
            // TO GET THE IMAGE WIDTH AND HEIGHT, WE'LL USE fileReader().
            if (fileExtension == 'png' || fileExtension == 'jpg' || fileExtension == 'jpeg') {
                img = new Image();
                var objectUrl = _URL.createObjectURL(file);
                img.onload = function () {

                    //alert(this.width + " " + this.height);
                    //if ((this.wdth >= 350 || this.wdth <= 400) && (this.height >= 320 || this.height <= 400)) {
                    if ((this.width >= 350) && (this.height >= 320)) {
                        _URL.revokeObjectURL(objectUrl);
                    } else {
                        ErrorDialog('Worning', 'Please upload image in resolution width in 350-400 and height in 320-400!')
                        $("#ImageFile").val('');
                    }
                };
                img.src = objectUrl;
            } else {
                $("#ImageFile").val('');
                ErrorDialog('Error', 'Please select an image file!');
                return false;
            }
        }
    });


    function adddigitaldisplay() {
        //$("#Update").hide();
        //$("#Add").show();
        //var form = $(_this).parent().parent().find('form');
        //var formsData = ResolveFormData(form);
        let img = $("#ImageFile").val();
        if (img == '') {
            ErrorDialog('Warning', 'Select an image!');
            return false;
        }
        let section = $('#Section').val();
        let order = $('#order').val();
        let jobpage = $('#JobPage').val();
        if (order == '' || order < 0) {
            ErrorDialog('Warning', 'Enter valid order of display!');
            return false;
        }
        if (jobpage == '') {
            ErrorDialog('Warning', 'Enter the job page link!');
            return false;
        }


        var formData = new FormData();
        if ($("#ImageFile").val()) {
            var fileUpload = $("#ImageFile").get(0);
            var files = fileUpload.files;
            formData.append("ImageFile", files[0]);
        }
        formData.append("Section", section);
        formData.append("Order", order);
        formData.append("JobPage", jobpage);
        debugger
        SendAJAXRequest(`/DigitalDisplay/AddDigitalDisplayData`, "POST", formData, 'JSON', function (resp) {
            if (resp) {
                InformationDialogWithPageRelode('Information', 'Data Added Successfully!');
            }
        }, null, true);



    }
    function edit(_this) {
        debugger;
        $('#PopUpModal').on('show.bs.modal', function (event) {
            //var button = $(event.relatedTarget);
            //var titlename = button.data('name');// Extract info from data-* attributes
            var modal = $(this);
            $("#PopUpModalLabel").text("Update Ads Detail");
            var row = $(_this).closest('tr').find('td');
            modal.find('#Id').val(row[0].innerText);
            //modal.find('#image').val(row[1].innerText);
            modal.find('#JobPage').val(row[2].innerText);
            modal.find('#Section').val(row[3].innerText);
            modal.find('#order').val(row[4].innerText);

            $("#SaveRec").hide();
            $("#Update").show();
            $("#updatebtn").removeClass('display-content');
        });

    };
    function updatedigitaldisplay() {
        //$("#Update").hide();
        //$("#Add").show();
        //var form = $(_this).parent().parent().find('form');
        //var formsData = ResolveFormData(form);

        let Id = $('#Id').val();
        let section = $('#Section').val();
        let order = $('#order').val();
        if (order == '' || order < 0) {
            ErrorDialog('Warning', 'Enter order of display!');
            return false;
        }
        let jobpage = $('#JobPage').val();
        if (jobpage == '') {
            ErrorDialog('Warning', 'Enter the job page link!');
            return false;
        }
        //let img = $("#ImageFile").val();
        //if (img == '') {
        //    ErrorDialog('Warning', 'Select an image!');
        //    return false;
        //}
        var formData = new FormData();
        if ($("#ImageFile").val()) {
            var fileUpload = $("#ImageFile").get(0);
            var files = fileUpload.files;
            formData.append("ImageFile", files[0]);
        }
        formData.append("Section", section);
        formData.append("Order", order);
        formData.append("Id", Id);
        formData.append("JobPage", jobpage);
        SendAJAXRequest(`/DigitalDisplay/UpdateDigitalDisplayData`, "POST", formData, 'JSON', function (resp) {
            if (resp) {
                InformationDialogWithPageRelode('Information', 'Data updated Successfully!');
            }
        }, null, true);
    }
    function AddNew() {

        $('#PopUpModal').on('show.bs.modal', function () {
            $("#Update").hide();
            $("#updatebtn").addClass('display-content');
            $("#SaveRec").show();
            $("#Id").val('');
            $("#section").val('');
            $("#order").val('');
            $("#PopUpModalLabel").text("Add Ads Detail");

        });
    };
    function deleteads(id) {
        SendAJAXRequest(`/DigitalDisplay/DeleteDigitalDisplayData`, "POST", id, 'JSON', function (resp) {
            if (resp) {
                InformationDialogWithPageRelode('Information', 'Data Deleted Successfully!');
            }
        });
    };
    function Confirmdeleteads(id) {
        ConfirmationDialog('Information', 'Are You sure!', deleteads, id);
    }
</script>