
@{
    ViewData["Title"] = "Category wise jobs";
}

<style>
    .pagination {
        display: contents !important;
    }
</style>

@{
    UserViewModel user = Context.Session.Get<UserViewModel>
        (Constants.SessionKeyUserInfo);
    if (user != null)
    {
        @if (user.RoleName == "Admin")
        {
            Layout = "~/Views/Shared/_AdminLayout.cshtml";
        }
        else
        {
            Layout = "~/Views/Shared/_Layout.cshtml";
        }
    }
    else
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
}



<!-- Titlebar
================================================== -->
<div id="titlebar" class="banner-bg row" style="background-image: url(/Assets/images/all-categories-photo.jpg);">
    <div class="container titlebar-inner">
        <div class="row">
            <div class="col-sm-8">
                <h2 class="whitetitle"><span class="title-bdr-black-4">Jobs of categories</span></h2>
            </div>
            <div class="col-sm-4 text-right spacer-top-10">
                <a href="/JobSeekerManagement" class="btn btn-primary btn-lg">Search more jobs</a>
            </div>
        </div>
    </div>
</div>

<!-- Content
================================================== -->
<div class="home-screen-section row">
    <div class="container">
        <h2 class="blacktitle">We found best matching:</h2>
        <!-- Recent Jobs -->
        <div class="job-lists row two-column">

            @if (ViewBag.AllJobsCategory != null)
            {
                @foreach (var jobs in ViewBag.AllJobsCategory)
                {
                    <div class="job-lists-item col-md-6 col-xs-12">
                        <div class="job-list-content col-xs-12">
                            <div class="col-xs-3 company">
                                <a href="/Job/JobDetails/?jobid=@jobs.JobPostId" class="company-logo"><img src="@jobs.CompanyLogo" alt="" class="responsive-img"></a>
                            </div>
                            <div class="job-list-details col-xs-9">
                                <h4>
                                    <a href="/Job/JobDetails/?jobid=@jobs.JobPostId">@jobs.JobTitle</a>
                                    <span class="listing-type">@jobs.EmploymentStatus</span>
                                </h4>
                                <ul class="job-discription">
                                    <li> @jobs.CompanyName</li>
                                    <li> @jobs.City</li>
                                    <li> @jobs.CTC</li>
                                    <li><span>@jobs.NumberOfDays</span><span>d ago</span></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                }
            }
            else
            {
                <p> No data found</p>
            }
        </div>
        <nav aria-label="Page navigation" class="d-flex justify-content-center text-center">
            <ul class="pagination">
                <li>
                    <span aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </span>
                </li>
                <li class="active"><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li>
                    <span aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </span>
                </li>
            </ul>
        </nav>
        <nav class="pagination-next-prev graypanel">
            <ul>
                <li><a class="prev quick-links btn btn-link text-uppercase">Previous</a></li>
                <li><a class="next quick-links btn btn-link text-uppercase">Next</a></li>
            </ul>
        </nav>
    </div>
</div>
<div class="home-screen-section row panelbg-green">
    <div class="container">
        <!-- Widgets -->
        <!-- Sort by -->
        <div class="row">
            <div class="col-sm-4">
                <div class="widget text-center">
                    <img src="~/Assets/images/app-images-v3.png" class="responsive-img">
                </div>
            </div>
            <div class="col-sm-4">
                <div class="widget text-center">
                    <img src="~/Assets/images/app-images-v3.png" class="responsive-img">
                </div>
            </div>
            <div class="col-sm-4">
                <div class="widget text-center">
                    <img src="~/Assets/images/app-images-v3.png" class="responsive-img">
                </div>
            </div>
        </div>
        <!-- Widgets / End -->
    </div>
</div>
@section Scripts
    {
    <script src="~/js/Jobseeker/JobDetails.js"></script>
    <script src="~/js/Shared/pagination.js"></script>
}