@using JobPortal.Model.DataViewModel.Employer.AdvanceSearch
@using JobPortal.Model.DataViewModel.Shared
@model AdvanceResumeSearch
@{
    ViewData["Title"] = "AdvanceResumeSearch";
}
@{
    int currYear = DateTime.Now.Year;

    <!-- Titlebar
    ================================================== -->
    <div id="titlebar" class="banner-bg row" style="background-image: url(/Assets/images/all-categories-photo.jpg);">
        <div class="container titlebar-inner">
            <h2 class="whitetitle"><span class="title-bdr-black-4">Advance Searches</span></h2>
        </div>
    </div>
    <nav id="breadcrumbs" class="container">
        <ol class="breadcrumb">
            <li><a href="#">Home</a></li>
            <li>Advance Searches</li>
        </ol>
    </nav>

    <div class="container home-screen-section">

        <!-- Accordion -->

        <form asp-action="AdvanceResumeSearchData" method="post">
            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingOne">
                        <h4 class="panel-title">
                            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                Advance Search
                                <i class="fa fa-plus pull-left"></i>
                            </a>
                        </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="input-label">Position Name</label>
                                        <input class="form-control input-elements" asp-for="HiringRequirement" id="HiringRequirement" type="text" placeholder="Requiremet, You hiring for" value="" required />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label class="input-label">Any Keyword</label>
                                        <input class="form-control input-elements" asp-for="AnyKeyword" id="AnyKeyword" type="text" placeholder="Any keyword(ex: Manager,Java,Delhi)" value="" />
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label class="input-label">All Keyword</label>
                                        <input class="form-control input-elements" asp-for="AllKeyword" id="AllKeyword" type="text" placeholder="All keyword(ex: Manager,Java,Delhi)" value="" />
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label class="input-label">Excluding Keyword</label>
                                        <input class="form-control input-elements" asp-for="ExculudeKeyword" id="ExculudeKeyword" type="text" placeholder="Excluding keyword(ex: Manager,Java,Delhi)" value="" />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label class="input-label">Total Experiance <small>In Years</small></label>
                                        <div class="d-flex">
                                            <input class="form-control input-elements width-120" asp-for="MinExperiance" id="MinExperiance" type="Number" min="0" onmouseout="CompareNumberType(MinExperiance,MaxExperiance)" value="" placeholder="min" />
                                            <input class="form-control input-elements width-120 margin-lft-right-5" asp-for="MaxExperiance" id="MaxExperiance" type="Number" min="0" onmouseout="CompareNumberType(MinExperiance,MaxExperiance)" value="" placeholder="max" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label class="input-label">Total Salary <small>In Rs</small></label>
                                        <div class="d-flex">
                                            <input class="form-control input-elements width-120" asp-for="MinSalary" id="MinSalary" type="Number" onmouseout="CompareNumberType(MinSalary,MaxSalary)" min="0" value="" placeholder="min" />
                                            <input class="form-control input-elements width-120 margin-lft-right-5" asp-for="MaxSalary" id="MaxSalary" type="Number" onmouseout="CompareNumberType(MinSalary,MaxSalary)" min="0" value="" placeholder="max" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label class="input-label">Current Location</label>
                                        <select data-placeholder="Full-Time" asp-for="CurrentLocation" id="CurrentLocation" class="chosen-select-no-single remove-hide" asp-items="@(new SelectList(@ViewBag.CityData,"CityCode", "City"))">
                                            <option value="">Select Current Location</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <label class="input-label col-sm-12">Preferred Location</label>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <select data-placeholder="Full-Time" asp-for="PreferredLocation1" id="PreferredLocation1" class="chosen-select-no-single remove-hide experiance-field" asp-items="@(new SelectList(@ViewBag.CityData,"CityCode", "City"))">
                                            <option value="">--Choose--</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <select data-placeholder="Full-Time" asp-for="PreferredLocation2" id="PreferredLocation2" class="chosen-select-no-single remove-hide experiance-field" asp-items="@(new SelectList(@ViewBag.CityData,"CityCode", "City"))">
                                            <option value="">--Choose--</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <select data-placeholder="Full-Time" asp-for="PreferredLocation3" id="PreferredLocation3" class="chosen-select-no-single remove-hide experiance-field" asp-items="@(new SelectList(@ViewBag.CityData,"CityCode", "City"))">
                                            <option value="">--Choose--</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingTwo">
                    <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            Experience Details
                            <i class="fa fa-plus pull-left"></i>
                        </a>
                    </h4>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="input-label">Functional Area</label>
                                    <select data-placeholder="Full-Time" asp-for="FuncationlArea" id="FuncationlArea" class="chosen-select-no-single remove-hide" asp-items="@(new SelectList(@ViewBag.JobTitle,"JobTitleId", "JobTitleName"))">
                                        <option value="">--choose--</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="input-label">Belong form industry</label>
                                    <select data-placeholder="Full-Time" asp-for="JobIndustryAreaId" id="JobIndustryAreaId" name="JobIndustryAreaId" class="chosen-select-no-single remove-hide" asp-items="@(new SelectList(@ViewBag.JobIndustryArea,"JobIndustryAreaId", "JobIndustryAreaName"))">
                                        <option value="">Industary</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="input-label">Current Designation</label>
                                    <input class="form-control input-elements" type="text" asp-for="CurrentDesignation" id="CurrentDesignation" placeholder="Current Designation" value="" />
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="input-label">Notice Period</label>
                                    <select data-placeholder="Full-Time" asp-for="NoticePeriod" id="NoticePeriod" class="chosen-select-no-single experiance-field">
                                        <option value="">0 Days</option>
                                        @for (int i = 15; i <= 120; i = i + 15)
                                        {
                                            <option value=@i>@(i) Days</option>
                                        }
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingThree">
                    <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            Additional Category
                            <i class="fa fa-plus pull-left"></i>
                        </a>
                    </h4>
                </div>
                <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="input-label">Age Range <small>In Years</small></label>
                                    <div class="d-flex">
                                        <div class="width-120">
                                            <select data-placeholder="Full-Time" asp-for="AgeFrom" id="AgeFrom" onchange="CompareValidator(AgeFrom,AgeTo)" class="chosen-select-no-single experiance-field">
                                                @for (int i = 18; i <= 50; i++)
                                                {
                                                    if (i == 55)
                                                    {
                                                    }
                                                    <option value=@i>@(i)</option>

                                                }
                                            </select>
                                        </div>
                                        <div class="width-120 margin-lft-right-5">
                                            <select data-placeholder="Full-Time" asp-for="AgeTo" onchange="CompareValidator(AgeFrom,AgeTo)" id="AgeTo" class="chosen-select-no-single experiance-field">
                                                @for (int i = 18; i <= 55; i++)
                                                {
                                                    if (i == 55)
                                                    {
                                                        <option value=@i selected>@(i)</option>
                                                    }
                                                    else
                                                    {
                                                        <option value=@i>@(i)</option>
                                                    }

                                                }
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="input-label">Genders</label>
                                    <select data-placeholder="Full-Time" asp-for="Gender" id="Gender" class="chosen-select-no-single experiance-field" asp-items="@(new SelectList(@ViewBag.GenderData,"GenderCode", "Gender"))"></select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingFour">
                    <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                            Display Details
                            <i class="fa fa-plus pull-left"></i>
                        </a>
                    </h4>
                </div>
                <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="input-label">Candidates</label>
                                    <select data-placeholder="Full-Time" asp-for="CandidatesType" id="CandidatesType" class="form-control input-elements">
                                        <option value="all">All</option>
                                        <option value="new">New</option>
                                        <option value="Modified">Modified</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="input-label">Show candidate with</label>
                                    <select data-placeholder="Full-Time" asp-for="ShowCandidateWith" id="ShowCandidateWith" class="form-control input-elements">
                                        <option value="all">All</option>
                                        <option value="mobile">Verified mobile number</option>
                                        <option value="email">Verified mail</option>
                                        <option value="resume">Attached  resume</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="input-label">Show candidate seeking</label>
                                    <select data-placeholder="Full-Time" asp-for="ShowCandidateSeeking" id="ShowCandidateSeeking" class="form-control input-elements" asp-items="@(new SelectList(@ViewBag.EmploymentStatus,"EmploymentStatusId", "EmploymentStatusName"))">
                                        <option value="0">All</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="spacer-top-20 btn-row text-center">
                <label class="margin-lft-right-5">
                    <input type="checkbox" asp-for="isSavedSearch" id="isSavedSearch"> Save Search
                </label>
                <input type="submit" class="btn btn-success" value="Search">
            </div>
        </form>

        <!-- Accordion / End -->
    </div>

    <!-- Tabs
    ================================================= -->
    <div class="container spacer-top-20">
        <!-- Tabs Navigation -->
        <ul class="nav nav-tabs text-uppercase tabs-nav">
            <li class="active"><a href="#tab1">Recent Searches</a></li>
            <li><a href="#tab2">Saved Searches</a></li>
            <li><a href="#tab3">Last Keyword</a></li>
        </ul>
        <!-- Tabs Content -->
        <div class="col-sm-12 tab-content tabs tabs-container home-screen-section">
            <div class="tab-content" id="tab1">
                <ul class="job-skills">
                    @if (ViewBag.AdvanceSearchStats != null)
                    {
                        foreach (var row in ViewBag.AdvanceSearchStats)
                        {
                            <li onclick="GetAdvanceSearchById(@row.id)" title="click" class="job-skill click-pointer link-hover">@row.HiringRequirement</li>
                        }
                    }
                    else
                    {
                        <p>No data</p>
                    }
                    @*<span>Asp.net core software developer</span>
                        <span>Business/Project manager</span>
                        <span>Customer support and sales executive</span>*@
                </ul>
            </div>
            <div class="tab-content" id="tab2">
                <ul class="job-skills">
                    @if (ViewBag.AdvanceSearchStats != null)
                    {
                        foreach (var row in ViewBag.AdvanceSearchStats)
                        {
                            if (@row.isSavedSearch == true)
                            {
                                <li onclick="GetAdvanceSearchById(@row.id)" class="job-skill click-pointer link-hover">@row.HiringRequirement</li>
                            }
                        }
                    }
                    else
                    {
                        <p>No data</p>
                    }
                </ul>
            </div>
            <div class="tab-content" id="tab3">
                <ul class="job-skills">
                    @if (ViewBag.AdvanceSearchStats != null)
                    {
                        foreach (var row in ViewBag.AdvanceSearchStats)
                        {
                            if (!string.IsNullOrWhiteSpace(row.AllKeyword))
                            {
                                <li class="job-skill">@row.AllKeyword</li>
                            }

                        }
                    }
                    else
                    {
                        <p>No data</p>
                    }
                </ul>
            </div>
        </div>
    </div>


    <div class="home-screen-section row pangel-softgreen">
        <div class="container">
            <!-- Widgets -->
            <!-- Sort by -->
            <div class="row">
                <div class="col-sm-4">
                    <div class="widget text-center">
                        <img src="~/Assets/images/app-images-v3.png" class="responsive-img">
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="widget text-center">
                        <img src="~/Assets/images/app-images-v4.png" class="responsive-img">
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="widget text-center">
                        <img src="~/Assets/images/app-images-v6.png" class="responsive-img">
                    </div>
                </div>
            </div>
            <!-- Widgets / End -->
        </div>
    </div>
}

@section Scripts
    {
    <script>
        $(document).ready(function () {
            SpecialChar('#HiringRequirement');
            SpecialChar('#AnyKeyword');
            SpecialChar('#AllKeyword');
            SpecialChar('#ExculudeKeyword');
            SpecialChar('#CurrentDesignation');
        });
    </script>

    <script src="~/js/Employer/SearchResume/AdvanceSearchResume.js"></script>
    <script src="~/js/Validation.js"></script>
}