@using JobPortal.Model.DataViewModel.Employer.SearchResume
@model IEnumerable<SearchResumeListViewModel>
@{
    ViewData["Title"] = "Advance Search Resume";
}

<div id="titlebar" class="banner-bg row" style="background-image: url(/Assets/images/all-categories-photo.jpg);">
    <div class="container titlebar-inner">
        <h2 class="whitetitle">Resume Listing</h2>
    </div>
</div>
<nav id="breadcrumbs" class="container">
    <ol class="breadcrumb">
        <li><a href="/Home/Index">Home</a></li>
        <li> <a asp-controller="EmployerManagement" asp-action="SearchResume">Resume Search</a></li>
        <li>Resume List</li>
    </ol>
</nav>

@{
    <div class="container">
        @if (Model.Count() < 1)
        {
            <div class="alert alert-danger spacer-bottom-20" role="alert"><strong>Oh snap!</strong> Candidates not found</div>
        }
        else
        {
            <div class="resume-lists row">
                @foreach (var item in Model)
                {

                    <div class="resume-lists-item col-sm-6 d-flex">
                        <div class="job-seeker-detail">
                            <a href="/SearchResume/ShowCandidateDetail/?userId=@item.UserId" class="profile-pic">
                                @if (item.ProfilePic == "")
                                {
                                    <img src="~/images/jobs/jobimg.jpg" alt="Jobseeker photo" class="img-responsive thumbnail" />
                                }
                                else
                                {
                                    <img src="@item.ProfilePic" alt="Jobseeker" class="img-responsive thumbnail " />
                                }
                            </a>
                            <div class="resumes-list-content flex-1">
                                <h4>
                                    <a href="/SearchResume/ShowCandidateDetail/?userId=@item.UserId">
                                        @item.FirstName @item.LastName
                                    </a>
                                </h4>
                                <p>@item.JobTitle</p>
                                <p>
                                    AnnualSalary:
                                    @if (item.ExperienceDetails != null && item.ExperienceDetails[0].AnnualSalary != null)
                                    {
                                        <span>@item.ExperienceDetails[0].AnnualSalary</span>
                                    }
                                    else
                                    {
                                        <span>N/A</span>
                                    }
                                </p>
                                <p>@item.Email</p>
                                <p>
                                    Location:
                                    @if (string.IsNullOrWhiteSpace(item.CityName))
                                    {
                                        <span>N/A</span>
                                    }
                                    else
                                    {
                                        <span>@item.CityName</span>
                                    }
                                </p>
                                <p>
                                    AboutMe:
                                    <span>@item.AboutMe</span>
                                </p>
                                <ul class="job-skills">
                                    @{
                                        if (item.Skills != null && item.Skills.SkillSets != null && item.Skills.SkillSets.Length > 0)
                                        {
                                            string[] skills = item.Skills.SkillSets.Split(',');
                                            foreach (var skill in skills)
                                            {
                                                if (skill.Length > 1)
                                                {
                                                    <li class="job-skill">@skill</li>
                                                }
                                            }
                                        }
                                        else
                                        {
                                            <li>N/A</li>
                                        }
                                    }
                                </ul>
                            </div>
                        </div>
                    </div>
                }
            </div>
        }
            <nav aria-label="Page navigation" class="d-flex justify-content-center text-center">
                <ul class="pagination" id="pagin"></ul>
            </nav>
    </div>
}

@section Scripts
    {
    <script>
        $(document).ready(function () {
            pageSize = 3;
            incremSlide = 3;
            startPage = 0;
            numberPage = 0;
            $('ul.expandible').each(function () {
                var $ul = $(this),
                    $lis = $ul.find('li:gt(4)'),
                    isExpanded = $ul.hasClass('expanded');
                $lis[isExpanded ? 'show' : 'hide']();

                if ($lis.length > 0) {
                    $ul
                        .append($('<span class="showmore"><li class="expand">' + (isExpanded ? 'Show Less' : 'Show More') + '</li></span>')
                            .click(function (event) {
                                var isExpanded = $ul.hasClass('expanded');
                                event.preventDefault();
                                $(this).html(isExpanded ? 'Show More' : 'Show Less');
                                $ul.toggleClass('expanded');
                                $lis.toggle();
                            }));
                }
            });
        });
    </script>
    <script src="~/js/Employer/SearchResume/SearchResumeList.js"></script>
    <script src="~/js/Shared/pagination.js"></script>
}



