@using JobPortal.Model.DataViewModel.Employer.SearchResume
@model IEnumerable<SearchResumeListViewModel>
@{
    ViewData["Title"] = "SearchResume";
}
<!-- Page Title start -->
<div id="titlebar" class="banner-bg row" style="background-image: url(/Assets/images/all-categories-photo.jpg);">
    <div class="container titlebar-inner">
        <div class="container titlebar-inner">
            <h2 class="whitetitle">Resume Listing</h2>
        </div>
    </div>
</div>
<nav id="breadcrumbs" class="container">
    <ol class="breadcrumb">
        <li><a href="/Home/Index">Home</a></li>
        <li> <a asp-controller="EmployerManagement" asp-action="SearchResume">Resume Search</a></li>
        <li>Resume List</li>
    </ol>
</nav>
@{
    var filters = ViewBag.Searches as SearchResumeViewModel;
    var SearchesInJson = JsonConvert.SerializeObject(filters);
    <input type="hidden" id="hdnFilters" value="@SearchesInJson">
    <div class="container">
        <div class="col-sm-12">
            <div class="row d-flex">
                <!-- Widgets -->
                <div class="sidebar-search">
                    <!-- Rate/Hr -->
                    <h4 class="col-xs-12">Filter</h4>
                    <div class="sidebar-widget col-xs-12">
                        <label class="input-label"><strong>Resume By City</strong></label>
                        <input type="text" class="filter-search-box form-control input-elements" placeholder="Search" />
                        <ul class="checkboxes expandible expanded filter-option-item">
                            @{
                                if (ViewBag.City != null && ViewBag.City.Count > 0)
                                {
                                    int j = 0;
                                    foreach (var item in ViewBag.City)
                                    {
                                        if (item.CountValue > 0)
                                        {
                                            <li>
                                                <input type="checkbox" @if (filters.City.Any(c => c == item.CityCode)) { <text> checked</text> } name="checkname" id="Name_@j" value="@item.CityCode" onchange="SearchCity(this)" />
                                                <label for="Name_@j" class="input-label">@item.City (<span>@item.CountValue</span>)</label>
                                            </li>
                                            j = j + 1;
                                        }
                                    }
                                }
                                else
                                {
                                    <li>
                                        <label style="color:red;"> Cities not found</label>
                                    </li>
                                }
                            }
                        </ul>
                    </div>
                </div>
                <!-- Widgets / End -->
                <div class="flex-1 mobile-full-screen overflow-hidden">
                    @if (Model.Count() < 1)
                    {
                        <div class="alert alert-danger spacer-top-20" role="alert"><strong>Oh snap!</strong> Candidates not found</div>
                    }
                    else
                    {
                        <div class="col-xs-12 resume-lists">
                            @foreach (var item in Model)
                            {
                                <div class="resume-lists-item col-xs-12">

                                    <a href="/SearchResume/ShowCandidateDetail/?userId=@item.UserId" class="col-sm-3">
                                        @if (item.ProfilePic == "")
                                        {
                                            <img src="~/images/jobs/jobimg.jpg" alt="Jobseeker photo" class="img-responsive" />
                                        }
                                        else
                                        {
                                            <img src="@item.ProfilePic" alt="Jobseeker" class="img-responsive" />
                                        }
                                    </a>
                                    <div class="resumes-list-content col-sm-9">
                                        <h4>
                                            <a href="/SearchResume/ShowCandidateDetail/?userId=@item.UserId">
                                                @item.FirstName @item.LastName
                                            </a>


                                        </h4>
                                        <p>@item.Email</p>
                                        <p>@item.JobTitle</p>
                                        @if (item.ExperienceDetails != null && item.ExperienceDetails[0].AnnualSalary != null)
                                        {
                                            <p> @item.ExperienceDetails[0].AnnualSalary</p>
                                        }
                                        else
                                        {
                                            <p> N/A</p>
                                        }
                                        <p>@item.Email</p>
                                        <p>
                                            @if (string.IsNullOrWhiteSpace(item.CityName))
                                            {
                                                <span>N/A</span>
                                            }
                                            else
                                            {
                                                @item.CityName
                                            }
                                        </p>
                                        <p>@item.AboutMe</p>
                                        <div class="skills">
                                            @{
                                                if (item.Skills != null && item.Skills.SkillSets != null && item.Skills.SkillSets.Length > 0)
                                                {
                                                    string[] skills = item.Skills.SkillSets.Split(',');
                                                    foreach (var skill in skills)
                                                    {
                                                        if (skill.Length > 1)
                                                        {
                                                            <span>@skill</span>
                                                        }
                                                    }
                                                }
                                                else
                                                {
                                                    <span>N/A</span>
                                                }
                                            }
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    }
                    <nav class="pagination">
                        <a class="prev">Previous</a>
                        <ul id="pagin"></ul>
                        <a class="next">Next</a>
                    </nav>
                </div>
            </div>
        </div>
    </div>
}

@section Scripts
    {
    <script>
        $(document).ready(function () {
            pageSize = 3;
            incremSlide = 3;
            startPage = 0;
            numberPage = 0;
            $('ul.expandible').each(function () {
                var $ul = $(this),
                    $lis = $ul.find('li:gt(4)'),
                    isExpanded = $ul.hasClass('expanded');
                $lis[isExpanded ? 'show' : 'hide']();

                if ($lis.length > 0) {
                    $ul
                        .append($('<span class="showmore"><li class="expand">' + (isExpanded ? 'Show Less' : 'Show More') + '</li></span>')
                            .click(function (event) {
                                var isExpanded = $ul.hasClass('expanded');
                                event.preventDefault();
                                $(this).html(isExpanded ? 'Show More' : 'Show Less');
                                $ul.toggleClass('expanded');
                                $lis.toggle();
                            }));
                }
            });
        });
    </script>
    <script src="~/js/Employer/SearchResume/SearchResumeList.js"></script>
    <script src="~/js/Shared/pagination.js"></script>
}



