@using JobPortal.Model.DataViewModel.Employer.SearchResume
@model SearchResumeListViewModel
@{
    ViewData["Title"] = "Show Candidate Detail";
}
<link href="~/css/CommanPopup.css" rel="stylesheet" />

<div class="container spacer-top-20">
    <div class="row d-flex justify-content-center">
        <div class="col-sm-2">
            @if (Model.ProfilePic == "")
            {
                <img src="~/ProfilePic/Avatar.jpg" alt="" class="img-responsive img-thumbnail">
            }
            else
            {
                <img src="@Model.ProfilePic" alt="" class="img-responsive img-thumbnail">
            }
        </div>
    </div>
    <div class="d-flex flex-direction-column text-center">
        <h4 class="text-center">
            <strong>@Model.FirstName @Model.LastName</strong>
            <br />
            <small>@Model.JobTitle</small>
        </h4>
        <p>
            <span>@Model.CityName, @Model.StateName</span>
        </p>
        <p>
            <span>@Model.Email</span>
        </p>

        <div class="job-skills justify-content-center">
            @{
                if (Model.Skills != null && Model.Skills.SkillSets != null && Model.Skills.SkillSets.Length > 0)
                {
                    string[] skills = Model.Skills.SkillSets.Split(',');
                    foreach (var skill in skills)
                    {
                        if (skill.Length > 1)
                        {
                            <li class="job-skill">@skill</li>
                        }
                    }
                }
                else
                {
                    <span>N/A</span>
                }
            }
        </div>
    </div>

    <div class="btn-row spacer-top-20 spacer-bottom-20 text-center">
        @if (!string.IsNullOrWhiteSpace(Model.Resume))
        {
            <a href="@Model.Resume" target="_blank" class="btn btn-primary">Download CV</a>
        }
        else
        {
            <a href="javascript:void(0);" class="btn btn-primary">Download CV</a>
        }
        <a onclick="SendMail('@Model.Email','@Model.FirstName')" class="btn btn-link quick-links">Send Message</a>
    </div>
</div>

<div class="row panelbg-lghtgrey home-screen-section">
    <div class="container">
        <div id="small-dialog" class="col-sm-8 col-sm-offset-2">
            <h2 class="blacktitle text-center">Send Message to <strong>@Model.FirstName @Model.LastName</strong></h2>
            <form action="#" method="get" class="row">
                <div class="form-group">
                    <label class="input-label">First Name</label>
                    <input type="text" class="form-control input-elements" placeholder="Full Name" value="@Model.FirstName @Model.LastName" readonly />
                </div>
                <div class="form-group">
                    <label class="input-label">Email</label>
                    <input type="text" class="form-control input-elements" placeholder="Email Address" value="@Model.Email" readonly />
                </div>
                <div class="form-group">
                    <label class="input-label">Message</label>
                    <textarea class="form-control input-elements" placeholder="Message"></textarea>
                </div>
                <div class="form-group text-center">
                    <button class="btn btn-success">Send Application</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Content
================================================== -->
<div class="container home-screen-section">
    <!-- Recent Jobs -->
    <h2 class="blacktitle">About Me</h2>
    <p>
        @Model.AboutMe
    </p>
</div>
<div class="container home-screen-section">
    <h2 class="blacktitle">Education</h2>
    <!-- Widgets -->
    @if (Model.EducationalDetails == null)
    {
        <p>
            <strong>No Data Found</strong>
        </p>
    }
    else
    {
        @foreach (var item in Model.EducationalDetails)
        {

            @if (item.CourseName != null && item.CourseName != "")
            {
                <h4 class="spacer-top-10">@item.CourseName</h4>
                <div class="row spacer-bottom-10">
                    <div class="col-sm-4"><span class="data-label">PassingYear:</span> @item.PassingYear</div>
                    <div class="col-sm-4"><span class="data-label">University:</span> @item.University</div>
                    <div class="col-sm-4"><span class="data-label">Score:</span> @item.Percentage %</div>
                </div>
            }
            else
            {
                <div class="col-sm-12">
                    <p>N/A</p>
                </div>
            }

        }
    }
</div>
<div class="container home-screen-section">
    <h2 class="blacktitle">Experience</h2>
    @if (Model.ExperienceDetails == null)
    {
        <p>
            <strong>No Data Found</strong>
        </p>
    }
    else
    {
        @foreach (var item in Model.ExperienceDetails)
        {
            <h4 class="spacer-top-10">@item.Organization</h4>
            <div class="row spacer-bottom-10">
                <div class="col-sm-6"><span class="data-label">Duration:</span> @item.WorkingFrom - @item.WorkingTill</div>
                <div class="col-sm-6"><span class="data-label">Designation:</span> @item.Designation</div>
            </div>
        }
    }
</div>

@section Scripts
    {
    <script src="~/js/Employer/SearchResume/SearchResume.js"></script>
}

