@using JobPortal.Model.DataViewModel.Employer.SearchResume
@model SearchResumeListViewModel
@{
    ViewData["Title"] = "Show Candidate Detail";
}
<link href="~/css/CommanPopup.css" rel="stylesheet" />

<div id="titlebar" class="resume">
    <div class="container">
        <div class="ten columns">
            <div class="resume-titlebar">
                @if (Model.ProfilePic == "")
                {
                    <img src="~/ProfilePic/Avatar.jpg" alt="">
                }
                else
                {
                    <img src="@Model.ProfilePic" alt="">
                }
                <div class="resumes-list-content">
                    <h4>@Model.FirstName @Model.LastName<span>@Model.JobTitle</span></h4>
                    <span class="icons"><i class="fa fa-map-marker"></i>@Model.CityName, @Model.StateName</span>
                    <!--<span class="icons"><i class="fa fa-money"></i> $100 / hour</span> -->
                    <span class="icons"><a href="#"><i class="fa fa-link"></i> Website</a></span>
                    <span class="icons"><i class="fa fa-envelope"></i> @Model.Email</span>
                    <div class="skills">
                        @{
                            if (Model.Skills != null && Model.Skills.SkillSets != null && Model.Skills.SkillSets.Length > 0)
                            {
                                string[] skills = Model.Skills.SkillSets.Split(',');
                                foreach (var skill in skills)
                                {
                                    if (skill.Length > 1)
                                    {
                                        <span>@skill</span>
                                    }
                                }
                            }
                            else
                            {
                                <span>N/A</span>
                            }
                        }
                        @*<span>@Model.Skills.SkillSets</span>*@
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <div class="six columns">
            <div class="two-buttons">
                @if (!string.IsNullOrWhiteSpace(Model.Resume))
                {
                    <a href="@Model.Resume" target="_blank" class="btn"><i class="fa fa-download" aria-hidden="true"></i> Download CV</a>
                }
                else
                {
                    <a href="javascript:void(0);" style="pointer-events:none;" class="btn"><i class="fa fa-download" aria-hidden="true"></i> Download CV</a>
                }
                <a onclick="SendMail('@Model.Email','@Model.FirstName')" class="button"><i class="fa fa-envelope" aria-hidden="true"></i> Send Message</a>
                <!-- <a href="#small-dialog" class="popup-with-zoom-anim button"><i class="fa fa-envelope"></i> Send Message</a> -->

                <div id="small-dialog" class="zoom-anim-dialog mfp-hide apply-popup">
                    <div class="small-dialog-headline">
                        <h2>Send Message to @Model.FirstName @Model.LastName</h2>
                    </div>
                    <div class="small-dialog-content">
                        <form action="#" method="get">
                            <input type="text" placeholder="Full Name" value="@Model.FirstName @Model.LastName" readonly />
                            <input type="text" placeholder="Email Address" value="@Model.Email" readonly />
                            <textarea placeholder="Message"></textarea>
                            <button class="send">Send Application</button>
                        </form>
                    </div>

                </div>
                <!-- <a href="#" class="button dark"><i class="fa fa-star"></i> Bookmark This Resume</a> -->

            </div>
        </div>
    </div>
</div>

<!-- Content
================================================== -->
<div class="container">
    <!-- Recent Jobs -->
    <div class="eight columns">
        <div class="padding-right">
            <h3 class="margin-bottom-15">About Me</h3>
            <p class="margin-reset">
                @Model.AboutMe
            </p>

        </div>
    </div>

    <!-- Widgets -->
    <div class="eight columns">
        <h3 class="margin-bottom-20">Education</h3>
        <!-- Resume Table -->
        <dl class="resume-table">
            @if (Model.EducationalDetails == null)
            {
                <dd>
                    <strong>No Data Found</strong>
                </dd>
            }
            else
            {
                @foreach (var item in Model.EducationalDetails)
                {
                    <dt>
                        @if (item.CourseName != null && item.CourseName != "")
                        {
                            <small class="date">@item.PassingYear</small>
                            <strong>@item.CourseName</strong>
                            <strong>@item.University</strong>
                            <strong>Score @item.Percentage %</strong>
                        }
                        else
                        {
                            <strong>N/A</strong>
                        }
                    </dt>
                }
            }

        </dl>
        <h3 class="margin-bottom-20">Experience</h3>
        <dl class="resume-table">
            @if (Model.ExperienceDetails == null)
            {
                <dd>
                    <strong>No Data Found</strong>
                </dd>
            }
            else
            {
                @foreach (var item in Model.ExperienceDetails)
                {
                    <dt>
                        <small class="date">@item.WorkingFrom - @item.WorkingTill</small>
                        <strong>@item.Organization</strong>
                        <strong>@item.Designation</strong>
                    </dt>
                }
            }

        </dl>
    </div>
</div>


@section Scripts
    {

    <script src="~/js/Employer/SearchResume/SearchResume.js"></script>
}

