
@using JobPortal.Model.DataViewModel.Employer.JobPost
@model JobPostViewModel

<div id="titlebar" class="col-sm-12 banner-bg" style="background-image: url(/Assets/images/all-categories-photo.jpg);">
    <h2 class="whitetitle">Add Job</h2>
</div>

<nav id="breadcrumbs" class="col-sm-12">
    <ol class="breadcrumb">
        <li><a href="/Home/Index">Home</a></li>
        <li><a href="/Dashboard/EmpDashboard">Dashboard</a></li>
        <li>Add Job</li>
    </ol>
</nav>

<div class="col-xs-12 spacer-top-20">
    <h2 class="blacktitle">Job Details</h2>
    <form onsubmit="return AddJobPost(this)" id="JobPostForm" class="row">
        <div class="col-sm-6">
            <div class="form-group">
                <label class="input-label">Job Industry</label>
                <select asp-for="JobIndustryAreaId" data-placeholder="Industry Type" id="JobIndustryAreaId" name="JobIndustryAreaId" class="chosen-select-no-single" asp-items="@(new SelectList(@ViewBag.JobIndustryArea,"JobIndustryAreaId", "JobIndustryAreaName"))">
                    <option value="0">Select Industry</option>
                </select>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <label class="input-label">Job Title By Employer</label>
                <input type="text" id="txtJobTitleByEmployer" required asp-for="JobTitleByEmployer" name="JobTitleByEmployer" class="form-control input-elements" placeholder="Job Title">
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <input type="hidden" id="hdnJobTitleId" name="JobTitleId" for="JobTitleId" />
                <label class="input-label">Job Title</label>
                <select id="ddlJobRoles" asp-for="JobTitleId"  name="JobTitleId" multiple autocomplete="off" class="form-control" data-placeholder="Choose Job Title ">
                    <option value="-1" hidden>Please choose</option>
                </select>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <label class="input-label">Employment Status</label>
                <select asp-for="EmploymentStatusId" data-placeholder="Choose Employment Status" class="chosen-select-no-single" asp-items="@(new SelectList(@ViewBag.EmploymentStatus,"EmploymentStatusId", "EmploymentStatusName"))"></select>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <label class="input-label min-width-100"><strong>Job Type</strong></label>
                @foreach (var jobType in ViewBag.JobTypes)
                {
                    <label class="radio-inline input-label">
                        <input type="radio" name="JobType" asp-for="JobType" id="radioJobType" value="@jobType.Id">
                        @jobType.Type
                    </label>
                }
            </div>
        </div>
        <div class="col-xs-6">
            <div class="form-group">
                <label class="input-label">Experience Between</label>
                <input type="text" id="Experience" required asp-for="MaxExp" readonly name="Experience" class="form-control input-elements" placeholder="Ex: 2-8 or 1-5 etc">
            </div>
        </div>
        <div class="col-xs-6">
            <div class="form-group">
                <label class="input-label">Skill</label>
                <input type="text" id="Skills" required asp-for="Skills" name="Skills" class="form-control input-elements" placeholder="Required Skills">
            </div>
        </div>
        <div class="col-xs-6">
            <div class="form-group">
                <label class="input-label">Hiring Criteria</label>
                <input type="text" required asp-for="HiringCriteria" name="HiringCriteria" class="form-control input-elements" placeholder="Minimum Education">
            </div>
        </div>
        <div class="col-xs-6">
            <div class="form-group">
                <label class="input-label">CTC</label>
                <input type="number" id="annumSalary" required asp-for="CTC" min="0" maxlength="7" name="CTC" class="form-control input-elements" placeholder="CTC">
            </div>
        </div>
        <div class="col-xs-6">
            <div class="form-group">
                <label class="input-label">Job Start Date:</label>
                <div class="input-group min-width-100 datepicker-wrapper">
                    <input type="date" required asp-for="PositionStartDate" id="startDate" name="PositionStartDate" class="form-control input-elements">
                    <a href="javascript:void(0)" onclick="toggleCalendar(this)" class="datepicker-btn">
                        <i class="fa fa-calendar" aria-hidden="true"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-xs-6">
            <div class="form-group">
                <label class="input-label">Job Expiration Date:</label>
                <div class="input-group min-width-100 datepicker-wrapper">
                    <input type="date" required asp-for="PositionEndDate" id="endDate" name="PositionEndDate" class="form-control input-elements">
                    <a href="javascript:void(0)" onclick="toggleCalendar(this)" class="datepicker-btn">
                        <i class="fa fa-calendar" aria-hidden="true"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-xs-6">
            <div class="form-group">
                <label class="input-label">Country</label>
                <select asp-for="CountryCode" id="ddlCountry" class="chosen-select-no-single" asp-items="@(new SelectList(@ViewBag.Country,"CountryCode", "Country"))"></select>
            </div>
        </div>
        <div class="col-xs-6">
            <div class="form-group">
                <label class="input-label">State</label>
                <select asp-for="StateCode" required data-placeholder="Choose State" class="chosen-select-no-single" id="ddlState"></select>
            </div>
        </div>
        <div class="col-xs-6">
            <div class="form-group">
                <label class="input-label">City</label>
                <select asp-for="CityCode" required data-placeholder="Choose City" class="chosen-select-no-single" id="ddlCity"></select>
            </div>
        </div>
        <div class="col-xs-6">
            <div class="form-group">
                <label class="input-label">Contact Person Name</label>
                <input type="text" id="spoc" required asp-for="ContactPerson" name="ContactPerson" class="form-control input-elements" placeholder="SPOC Name">
            </div>
        </div>
        <div class="col-xs-6">
            <div class="form-group">

                <label class="input-label">Mobile</label>
                <input type="text" id="spocContact" required asp-for="Mobile" maxlength="10" name="Mobile" class="form-control input-elements" placeholder="SPOC Phone">
            </div>
        </div>
        <div class="col-xs-6">
            <div class="form-group">
                <label class="input-label">Contact Person Email</label>
                <input type="email" id="spocEmail" required asp-for="SPOCEmail" name="SPOCEmail" class="form-control input-elements" placeholder="SPOC Email">
            </div>
        </div>
        <div class="col-xs-6">
            <div class="form-group">
                <label class="input-label">Number of Position</label>
                <input type="number" name="NoPosition" min="1" required asp-for="NoPosition" class="form-control input-elements" placeholder="Number of Position">
            </div>
        </div>
        <div class="col-xs-6">
            <div class="form-group">
                <label class="input-label">Is Walkin Job</label>
                <select asp-for="IsWalkIn" name="IsWalkin" data-placeholder="Is Walkin Job" class="chosen-select-no-single">
                    <option value="Yes">Yes</option>
                    <option value="No">No</option>
                </select>
            </div>
        </div>
        <div class="col-xs-12">
            <div class="form-group" id="textarea">
                <label class="input-label">Description</label>
                <textarea class="WYSIWYG text-area-editor" cols="10" asp-for="JobDetails" id="JobDetails" name="JobDetails" placeholder="Job Detail"></textarea>
            </div>
            <small class="col-xs-12">* Post job will be visible to the jobseekers</small>
            <small class="col-xs-12">* Draft job will be saved for post in near future</small>
        </div>
        <div class="col-xs-12 home-screen-section text-center">
            <input type="submit" class="btn btn-primary" value="Post Job">
            <input type="button" class="btn btn-success" onclick="return SaveJob(this)" value="Draft Job">
        </div>
    </form>
</div>

<script src="~/js/Employer/JobPost/JobPost.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $(".chosen-select").chosen({});
        $(".chosen-select-no-single").chosen({});

        multiselector.initSelector(
            $('select#ddlJobRoles'),
            {
                nonSelectedText: 'Select job role'
            },
            $("input[type=hidden]#hdnJobTitleId"),
            ","
        );
        $("ul.multiselect-container li").not('li:first').remove();
    });
    $("input[type=radio][name=JobType]").change(function () {        
        if (this.value === "2") {            
            $("input[name=Experience]").val('');
            $("input[name=Experience]").prop('readonly', false);
            $("input[name=Experience]").css('pointerEvents', 'auto');            
        }
        else {
            $("input[name=Experience]").val('');
            $("input[name=Experience]").prop('readonly', true);            
            $("input[name=Experience]").css('pointerEvents', 'none');
        }
    });
    function SaveJob(_this) {        
        $('#JobPostForm').submit(function (e) {
            e.preventDefault();
        });
        let JobTitleByEmployer = $('input[name=JobTitleByEmployer]').val();
        if (JobTitleByEmployer.length < 5) {
            ErrorDialog('Error', 'JobTitleByEmployer must be atleast 5 character long');
            return false;
        }
        let State = $('select[name=StateCode]').val();
        let City = $('select[name=CityCode]').val();
        if (State.length <= 0) {
            ErrorDialog('Error', 'Please select state!');
            return false;
        }
        if (City == null || City.length <= 0) {
            ErrorDialog('Error', 'Please select city');
            return false;
        }
        let formsData = ResolveFormData($('#JobPostForm'));
        let jdetails = CKEDITOR.instances['JobDetails'].getData();
        formsData[0].JobDetails = jdetails;
        let jobtitleid = $('select[name=JobTitleId]').val().toString();
        if (jobtitleid.length <= 0) {
            ErrorDialog('Error', 'Please select atleast one JobTitle !');
            return false;
        }
        let jobTypes = $('input[type=radio][name=JobType]').val();
        if (jobTypes == 1) {
            let exprange = $('input[type=text][name=Experience]').val();
            if (!exprange.includes('-')) {
                ErrorDialog('Error', 'Please Enter valid range of experience!');
                return false;
            }
            let exp = exprange.split('-');

            //if (!Number.isInteger(exp[0]) && !Number.isInteger(exp[1])) {
            //    ErrorDialog('Error', 'Please Enter valid range of experience!');
            //    return false;
            //}

            if (exp[0] > 0 && exp[1] <= 15) {
                formsData[0].MinExp = exp[0];
                formsData[0].MaxExp = exp[1];
            }
            else {
                ErrorDialog('Error', 'Please Enter valid range of experience!');
                return false;
            }
        }
        formsData[0].JobTitleId = jobtitleid == "" ? 0 : jobtitleid;
        let openings = $('input[name=NoPosition]').val();
        formsData[0].NoPosition = openings == "" ? 0 : openings;

        SendAJAXRequest('/JobManagement/SaveJobPost/', 'POST', formsData[0], 'JSON', (resp) => {
            if (resp) {
                InformationDialog('Information', 'Job Post Saved Successful!');
            } else {
                ErrorDialog('Error', 'Saving Job Post Failed!');
            }
        });
        //resetForm($('#JobPostForm'));

        $('#JobPostForm').trigger("reset");;
        $(".chosen-select").trigger("chosen:updated");
        $(".chosen-select-no-single").trigger("chosen:updated");
        CKEDITOR.instances['JobDetails'].setData("");
        initializeCalendars(true, true);
        return false;
    }
    CKEDITOR.replace('JobDetails');
</script>

