@model JobPortal.Model.DataViewModel.Employer.Dashboard.DashboardSummary
<!-- Navigation / End -->
<!-- Content
================================================== -->
<!-- Titlebar -->
<div id="titlebar" class="container-fluid banner-bg" style="background-image: url(/Assets/images/all-categories-photo.jpg);">
    <div class="container titlebar-inner">
        @{
            UserViewModel user = Context.Session.Get<UserViewModel>(Constants.SessionKeyUserInfo);
            <h2 class="whitetitle"><span class="title-bdr-black-4">Welcome, @user.FirstName</span></h2>
        }
    </div>
</div>
<nav id="breadcrumbs" class="container">
    <ol class="breadcrumb">
        <li><a href="#">Home</a></li>
        <li class="active">Dashboard</li>
    </ol>
</nav>

<!-- Content -->
<div class="container-fluid home-screen-section panelbg-gray10">
    <div class="container dashboard-stats">
        <div class="dashboard-stat color-1 col-md-3 col-sm-6" onclick="getViewedProfiles()">

            <h4 class="counter">
                <span>
                    @Model.TotalProfileViewes
                </span>
            </h4>
            <p>Profle View</p>
        </div>
        <!-- Item -->
        <div class="dashboard-stat color-2 col-md-3 col-sm-6" onclick="getMessages()">
            <h4 class="counter">
                <span>
                    @Model.TotalMessages
                </span>
            </h4>
            <p>Messages</p>
        </div>
        <!-- Item -->
        <div class="dashboard-stat color-3 col-md-3 col-sm-6" onclick="getJobSeekers()">
            <h4 class="counter">
                <span>@Model.TotalResumeList</span>
            </h4>
            <p>Total Applications</p>
        </div>
        <!-- Item -->
        <div class="dashboard-stat color-4 col-md-3 col-sm-6">
            <h4 class="counter">
                <span>
                    @Model.RespondTime
                </span>
            </h4>
            <p>Average Response Time</p>
        </div>
        <!-- Item -->
    </div>
</div>

<div class="container home-screen-section">

    <div class="row">
        <div class="col-lg-6 col-md-12">
            <h2 class="blacktitle">Recent Activities</h2>
            <ul class="activity-lists">
                <li class="activity-list-item">
                    <div class="msg-content">
                        <p>Your listing <a href="#">Marketing Coordinator - SEO / SEM Experience </a> has been approved!</p>
                    </div>
                    <a href="#" class="close-list-item"><i class="fa fa-close"></i></a>
                </li>
                <li class="activity-list-item">
                    <div class="msg-content">
                        <p>Kathy Brown has sent you <a href="#">private message</a>!</p>
                    </div>
                    <a href="#" class="close-list-item"><i class="fa fa-close"></i></a>
                </li>
                <li class="activity-list-item">
                    <div class="msg-content">
                        <p>Someone bookmarked your <a href="#">Restaurant Team Member - Crew</a>!</p>
                    </div>
                    <a href="#" class="close-list-item"><i class="fa fa-close"></i></a>
                </li>
                <li class="activity-list-item">
                    <div class="msg-content">
                        <p>You have new application for <a href="#">Power Systems User Experience Designer</a>!</p>
                    </div>
                    <a href="#" class="close-list-item"><i class="fa fa-close"></i></a>
                </li>
                <li class="activity-list-item">
                    <div class="msg-content">
                        <p>Someone bookmarked your <a href="#">Core PHP Developer for Site Maintenance</a> listing!</p>
                    </div>
                    <a href="#" class="close-list-item"><i class="fa fa-close"></i></a>
                </li>
                <li class="activity-list-item">
                    <div class="msg-content">
                        <p>Your job listing <a href="#">Core PHP Developer for Site Maintenance</a> is expiring!</p>
                    </div>
                    <a href="#" class="close-list-item"><i class="fa fa-close"></i></a>
                </li>
            </ul>
        </div>
        <div class="col-lg-6 col-md-12">
            <h2 class="blacktitle">Your Packages</h2>
            <ul class="package-details">
                <li class="package-item">
                    <h3><span>Basic</span></h3>
                    <span>You have 2 listings posted</span>
                </li>
                <li class="package-item">
                    <h3><span>Extended</span></h3>
                    <span>You have 2 listings posted</span>
                </li>
                <li class="package-item">
                    <h3><span>Professional</span></h3>
                    <span>You have 5 listings posted</span>
                </li>
            </ul>
        </div>
    </div>
</div>


