@model JobPortal.Model.DataViewModel.Employer.Dashboard.DashboardSummary
<!-- Navigation / End -->
<!-- Content
================================================== -->
<!-- Titlebar -->
<div id="titlebar" class="col-sm-12 banner-bg" style="background-image: url(/Assets/images/all-categories-photo.jpg);">
    @{
        UserViewModel user = Context.Session.Get<UserViewModel>(Constants.SessionKeyUserInfo);
        <h2 class="whitetitle">Welcome, @user.FirstName</h2>
    }
</div>
<nav id="breadcrumbs" class="col-sm-12">
    <ol class="breadcrumb">
        <li><a asp-controller="Home" asp-action="Index">Home</a></li>
        <li class="active">Dashboard</li>
    </ol>
</nav>

<!-- Content -->
<div class="col-sm-12 dashboard-stats">
    <div class="dashboard-stat color-1 col-sm-3 col-xs-6" onclick="getViewedProfiles()">

        <h4 class="counter">
            <span>
                @Model.TotalProfileViewes
            </span>
        </h4>
        <p>Profle View</p>
    </div>
    <!-- Item -->
    <div class="dashboard-stat color-2 col-sm-3 col-xs-6" onclick="getMessages()">
        <h4 class="counter">
            <span>
                @Model.TotalMessages
            </span>
        </h4>
        <p>Messages</p>
    </div>
    <!-- Item -->
    <div class="dashboard-stat color-3 col-sm-3 col-xs-6" onclick="getJobSeekers()">
        <h4 class="counter">
            <span>@Model.TotalResumeList</span>
        </h4>
        <p>Total Applications</p>
    </div>
    <!-- Item -->
    <div style="cursor:auto" class="dashboard-stat color-4 col-sm-3 col-xs-6">
        <h4 class="counter">
            <span>
                @Model.RespondTime
            </span>
        </h4>
        <p>Average Response Time</p>
    </div>
    <!-- Item -->
</div>

<div class="col-sm-12">
    <div class="row">
        <div class="col-lg-6 col-md-12 spacer-top-20">
            <h2 class="blacktitle">Recent Job Post</h2>
            @if (ViewBag.RecentJobs != null)
            {
                <ul class="activity-lists">
                    @foreach (var jobs in ViewBag.RecentJobs)
                    {
                        <li class="activity-list-item">
                            <div class="msg-content">
                                <p> <a href="/Job/JobDetails/?jobid=@jobs.JobPostId">Your recent job post with title <strong>@jobs.JobTitleByEmployer </strong> has been approved!</a></p>
                            </div>
                        </li>
                    }
                </ul>
            }
            else
            {
                <p> No data found</p>
            }
        </div>
        <div class="col-lg-6 col-md-12 spacer-top-20">
            <h2 class="blacktitle">Your Packages</h2>
            <ul class="package-details">
                <li class="package-item">
                    <h3><span>Basic</span></h3>
                    <span>You have 2 listings posted</span>
                </li>
                <li class="package-item">
                    <h3><span>Extended</span></h3>
                    <span>You have 2 listings posted</span>
                </li>
                <li class="package-item">
                    <h3><span>Professional</span></h3>
                    <span>You have 5 listings posted</span>
                </li>
            </ul>
        </div>
    </div>
</div>


