@model JobPortal.Model.DataViewModel.Shared.UserViewModel

<div id="titlebar" class="col-sm-12 banner-bg" style="background-image: url(/Assets/images/all-categories-photo.jpg);">
    <h2 class="whitetitle">My Profile</h2>
</div>

<nav id="breadcrumbs" class="col-sm-12">
    <ol class="breadcrumb">
        <li><a href="/Home/Index">Home</a></li>
        <li><a href="/Dashboard/EmpDashboard">Dashboard</a></li>
        <li class="active">My Profile</li>
    </ol>
</nav>

<!-- Profile -->
<div class="col-sm-12 spacer-top-20">
    <h2 class="blacktitle">Profile Details</h2>
    <form id="empProfile" class="row">
        <!-- Avatar -->
        <div class="col-sm-12 home-screen-section">
            <div class="row d-flex align-center">
                @if (!string.IsNullOrEmpty(Model.ProfilePic))
                {
                    <div class="col-sm-2">
                        <img src="@Model.ProfilePic" alt="" class="img-responsive img-thumbnail">
                    </div>
                }
                else
                {
                    <div class="col-sm-2">
                        <img src="https://www.gravatar.com/avatar/00000000000000000000000000000000?d=mm&amp;s=300" alt="" class="img-responsive img-thumbnail" />
                    </div>
                }
                <div class="col-sm-5">
                    <lbela class="input-label">Upload Photo</lbela>
                    <input type="file" id="profilepic" name="ImageFile" class="form-control input-elements" />
                </div>
            </div>
        </div>
        <!-- Details -->

        <div class="col-sm-6">
            <div class="form-group">
                <label for="Company Name" class="input-label">CompanyName</label>
                <input type="text" name="CompanyName" readonly value="@Model.CompanyName" placeholder="Company name" class="form-control input-elements">
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <label for="FirstName" class="input-label">Your Name</label>
                <input type="text" name="Fullname" id="Fullname" value="@Model.FullName" placeholder="Your name" class="form-control input-elements">
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <label for="MobileNo" class="input-label">Phone</label>
                <input type="text" maxlength="10" pattern="[789][0-9]{9}" id="phoneNumber" name="MobileNo" value="@Model.MobileNo" placeholder="Your Phone number" class="form-control input-elements">
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <label class="input-label">Email</label>
                <input type="text" name="Email" readonly value="@Model.Email" placeholder="Email Address" class="form-control input-elements">
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <label class="input-label">Address</label>
                <input type="text" name="Address" value="@Model.FullAddress" placeholder="Enter Addreess" class="form-control input-elements">
            </div>
        </div>
        <div class="col-sm-12 text-center spacer-top-20 home-screen-section">
            <input type="submit" onclick="return UpdateEmpDetail()" class="btn btn-success" value="Save Changes" />
        </div>
    </form>
</div>
<script src="~/js/Employer/Profile/empProfile.js"></script>
<script>
    $(document).ready(function () {
        SpecialChar('#Fullname');
    });
</script>