@using JobPortal.Model.DataViewModel.Employer.JobPost;
@model JobPostViewModel


@if (Convert.ToString(@ViewData["RoleName"]) == "Admin")
{
    <form>
        <input type="hidden" name="JobPostId" value="@Model.JobPostId" />
        <div class="form-group">
            <label class="input-label" for="companyName">Company Name</label>
            <input type="text" class="form-control input-elements" name="CompanyName" value="@Model.CompanyName" id="companyName" />
        </div>
        <div class="form-group">
            <label class="input-label" for="jobTitle">Job Title</label>
            <input type="text" class="form-control input-elements" name="JobTitleByEmployer" value="@Model.JobTitleByEmployer" id="jobTitle" />
        </div>
        <div class="form-group">
            <label class="input-label" for="jobRole">Job Role</label>
            <select class="chosen-select" id="jobRole" multiple="multiple" asp-items="@(new SelectList(ViewBag.JobRoles, "JobTitleId", "JobTitleName"))" id="jobRole"></select>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="input-label" for="country">Country</label>
                    <select class="form-control" name="CountryCode" asp-items="@(new SelectList(ViewBag.Countries, "CountryCode", "Country", Model.CountryCode))" id="country"></select>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="input-label" for="state">State</label>
                    <select class="form-control input-elements" id="state" onchange="stateChange(this.value)" name="StateCode" asp-items="@(new SelectList(ViewBag.States, "StateCode", "State", Model.StateCode))"></select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="input-label" for="city">City</label>
                    <select class="form-control input-elements" id="city" name="CityCode" asp-items="@(new SelectList(ViewBag.Cities, "CityCode", "City", Model.CityCode))"></select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="input-label" for="monthlySalary">Posting Date</label>
                    <input type="date" class="form-control input-elements" id="PostingDate" name="PositionStartDate" placeholder="yyyy-mm-dd" value="@Model.PositionStartDate" />
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="input-label" for="monthlySalary">Expiry Date</label>
                    <input type="date" min="2020-01-01" max="2030-12-31" class="form-control input-elements" id="ExpiryDate" name="PositionEndDate" placeholder="yyyy-mm-dd" value="@Model.PositionEndDate" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="input-label" for="spocEmail">SPOC Email</label>
                    <input type="text" class="form-control input-elements" id="spocEmail" name="SPOCEmail" value="@Model.SPOCEmail" />
                </div>
                <div class="form-group">
                    <label class="input-label" for="spocContact">SPOC Contact</label>
                    <input type="text" class="form-control input-elements" id="spocContact" name="Mobile" value="@Model.Mobile" />
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="input-label" for="jobDetails">Job Details</label>
            <textarea class="form-control input-elements ckeditor" cols="25" name="JobDetails" id="jobDetails">@Model.JobDetails</textarea>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="input-label" for="ctc">CTC</label>
                    <input type="text" class="form-control input-elements" id="ctc" name="CTC" value="@Model.CTC" />
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="input-label" for="hiringCriteria">Hiring Criteria</label>
                    <input type="text" class="form-control input-elements" id="hiringCriteria" name="HiringCriteria" value="@Model.HiringCriteria" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="input-label" for="jobType">Job Type</label>
                    <input type="hidden" id="jobType" name="JobType" value="@Model.JobType" />
                    <input type="text" class="form-control input-elements" id="jobTypeSummary" name="JobTypeSummary" value="@Model.JobTypeSummary" />
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="input-label" for="spoc">SPOC</label>
                    <input type="text" class="form-control input-elements" id="spoc" name="ContactPerson" value="@Model.ContactPerson" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="input-label" for="financialYear">Financial Year</label>
                    <input type="text" class="form-control input-elements" id="financialYear" name="FinancialYear" value="@Model.FinancialYear" />
                </div>
            </div>
            <div class="col-sm-6">
                @if (Convert.ToString(@ViewData["RoleName"]) == "Admin")
                {
                    <div class="form-group">
                        <label class="input-label" for="featured">Featured</label>
                        <div class="d-flex align-center min-width-100">
                            <input @(Convert.ToString(@Model.Featured) == "True" ? "checked='checked'" : string.Empty) type="checkbox" name="featured" class="form-check-input" id="featured">
                            <div class="flex-1">
                                <label class="input-label" for="displayorder">Display Order</label>
                                <input type="number" class="form-control input-elements" id="displayorder" min="0" max="20" name="displayorder" value="@Model.DisplayOrder" />
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </form>
}
else
{
    <form>
        <input type="hidden" name="JobPostId" value="@Model.JobPostId" />
        <div class="form-group">
            <label class="input-label" for="companyName">Company Name</label>
            <input type="text" readonly class="form-control input-elements" name="CompanyName" value="@Model.CompanyName" id="companyName" />
        </div>
        <div class="form-group">
            <label class="input-label" for="jobTitle">Job Title</label>
            <input type="text" readonly class="form-control input-elements" name="JobTitleByEmployer" value="@Model.JobTitleByEmployer" id="jobTitle" />
        </div>
        <div class="form-group">
            <label class="input-label" for="jobRole">Job Role</label>
            <input type="hidden" id="hdnJobRoleIds" name="JobTitleId" value="@Model.JobTitleId" />
            <select class="chosen-select" multiple asp-items="@(new SelectList(ViewBag.JobRoles, "JobTitleId", "JobTitleName"))" id="jobRole">
            </select>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="input-label" for="country">Country</label>
                    <select class="form-control input-elements disable-click" name="CountryCode" asp-items="@(new SelectList(ViewBag.Countries, "CountryCode", "Country", Model.CountryCode))" id="country"></select>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="input-label" for="state">State</label>
                    <select class="form-control input-elements disable-click" id="state" name="StateCode" asp-items="@(new SelectList(ViewBag.States, "StateCode", "State", Model.StateCode))"></select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="input-label" for="city">City</label>
                    <select class="form-control input-elements disable-click" id="city" name="CityCode" asp-items="@(new SelectList(ViewBag.Cities, "CityCode", "City", Model.CityCode))"></select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="input-label" for="monthlySalary">Posting Date</label>
                    <input type="date" readonly class="form-control input-elements" id="PostingDates" name="PositionStartDate" value="@Model.PositionStartDate" />
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="input-label" for="monthlySalary">Expiry Date</label>
                    <input type="date" class="form-control input-elements" id="ExpiryDate" name="PositionEndDate" value="@Model.PositionEndDate" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="input-label" for="spocEmail">SPOC Email</label>
                    <input type="text" readonly class="form-control input-elements" id="spocEmail" name="SPOCEmail" value="@Model.SPOCEmail" />
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="input-label" for="spocContact">SPOC Contact</label>
                    <input type="text" readonly class="form-control input-elements" id="spocContact" name="Mobile" value="@Model.Mobile" />
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="input-label" for="jobDetails">Job Details</label>
            <textarea class="form-control text-area-editor" cols="25" name="JobDetails" id="jobDetails">@Model.JobDetails</textarea>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="input-label" for="ctc">CTC</label>
                    <input type="text" readonly class="form-control input-elements" id="ctc" name="CTC" value="@Model.CTC" />
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="input-label" for="hiringCriteria">Hiring Criteria</label>
                    <input type="text" readonly class="form-control input-elements" id="hiringCriteria" name="HiringCriteria" value="@Model.HiringCriteria" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="input-label" for="jobType">Job Type</label>
                    <input type="hidden" id="jobType" name="JobType" value="@Model.JobType" />
                    <input type="text" readonly class="form-control input-elements" id="jobTypeSummary" name="JobTypeSummary" value="@Model.JobTypeSummary" />
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="input-label" for="financialYear">Financial Year</label>
                    <input type="text" readonly class="form-control input-elements" id="financialYear" name="FinancialYear" value="@Model.FinancialYear" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="input-label" for="NoPosition">Openings</label>
                    <input type="text" readonly class="form-control input-elements" id="NoPosition" name="NoPosition" value="@Model.NoPosition" />
                </div>
                <div class="form-group">
                    <label class="input-label" for="spoc">SPOC</label>
                    <input type="text" readonly class="form-control input-elements" id="spoc" name="ContactPerson" value="@Model.ContactPerson" />
                </div>
            </div>
        </div>

        @if (Convert.ToString(@ViewData["RoleName"]) == "Admin")
        {
            <div class="form-group">
                <label class="input-label" for="featured">Featured</label>
                <div class="d-flex align-center min-width-100">
                    <input @(Convert.ToString(@Model.Featured) == "True" ? "checked='checked'" : string.Empty) type="checkbox" name="featured" class="form-check-input" id="featured">
                    <div class="flex-1">
                        <label class="input-label" for="display order" style="margin-top:5%">Display Order</label>
                        <input type="number" class="form-control input-elements" id="displayorder" min="0" max="20" name="displayorder" value="@Model.DisplayOrder" />
                    </div>
                </div>
            </div>
        }
    </form>
}


<script>
    CKEDITOR.replace('jobDetails');
    $(document).ready(function () {
        //debugger;
        $("#jobRole").chosen({width:"100%"});
        $(".chosen-select-no-single").chosen({});
        //var my_val = 3,4,6;
        //var str_array = my_val.split(',');
        var str_array = '@Model.JobTitleId.Replace(" ", "")';
        //console.log(str_array);
        var arr = str_array.split(',');
        //console.log(arr);
        $("#jobRole").val(arr).trigger("chosen:updated");

        //......................
        function initCalendar(TextBox, startDate) {
            dobCalendar = tail.DateTime(TextBox, {
                dateFormat: "YYYY-mm-dd",
                timeFormat: false,
                position: "bottom",
                closeButton: false,
                //dateEnd: new Date('01/01/2030'),
                dateStart: startDate ? startDate : new Date('01/01/2015')
            })
                .on("open", () => {

                })
                .on("close", () => {

                })
                .on("change", () => {
                    debugger;
                    let sdate = $("input[type=date]#PostingDates").val();
                    if (sdate == null || sdate == "") {
                        sdate = $("input[type=date]#PostingDate").val();
                    }
                    initCalendar("input[type=date]#ExpiryDate", new Date(sdate));

                });
            //dobCalendar.selectDate(startDate.getFullYear(), startDate.getMonth(), startDate.getDate());
        };
        let sdate = $("input[type=date]#PostingDates").val();
        if (sdate == null || sdate == "") {
            sdate = $("input[type=date]#PostingDate").val();
        }
        initCalendar("input[type=date]#ExpiryDate", new Date(sdate));
        if ($('#PostingDate').length) {
            initCalendar("input[type=date]#PostingDate");
        }

    });
</script>


