@using JobPortal.Model.DataViewModel.Employer.JobPost
@model IEnumerable<JobPostViewModel>


<div class="col-xs-12 home-screen-section">
    <div class="row">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable">
                <tr>
                <tr>
                    <th>
                        Job Title
                    </th>
                    <th>Required Skill</th>
                    <th>
                        CTC
                    </th>
                    <th>
                        Posted On
                    </th>
                    <th>
                        Close Date
                    </th>
                    <th></th>
                </tr>
                <!-- Item #1 -->
                @if (Model.Count() > 0)
                {

                    @foreach (var job in Model)
                    {
                        <tr>
                            <td>
                                <a href="/Job/JobDetails/?jobid=@job.JobPostId" target="_blank">
                                    @job.JobTitleByEmployer
                                </a>
                            </td>
                            <td>@job.HiringCriteria</td>
                            <td>
                                @job.CTC
                            </td>
                            <td>
                                @job.PostedOn
                            </td>
                            <td>
                                @job.PositionEndDate
                            </td>
                            @if (ViewBag.JobStatus != null)
                            {
                                @if (ViewBag.JobStatus == 1)
                                {
                                    <td onclick="DeactiveActiveJob(@job.JobPostId)">
                                        <label class="btn btn-danger">
                                            <i class="fa fa-times" aria-hidden="true">&nbsp; Close</i>
                                        </label>
                                    </td>
                                }
                                else
                                {
                                    <td>Closed</td>
                                }
                            }
                        </tr>
                    }

                }
                else
                {
                    <tr>
                        <td colspan="8">
                            <label>
                                Data not found to display
                            </label>
                        </td>
                    </tr>
                }

            </table>
        </div>
    </div>
</div>
<script src="~/js/Employer/ActiveCloseJobs/ActiveCloseJobs.js"></script>
