@using JobPortal.Model.DataViewModel.Employer.JobPost;
@model IEnumerable<JobPostViewModel>


<div id="titlebar" class="col-sm-12 banner-bg" style="background-image: url(/Assets/images/all-categories-photo.jpg);">
    <h2 class="whitetitle">Manage Jobs</h2>
</div>

<nav id="breadcrumbs" class="col-sm-12">
    <ol class="breadcrumb">
        <li><a href="#">Home</a></li>
        <li><a href="#">Dashboard</a></li>
        <li>Manage Jobs</li>
    </ol>
</nav>

<div class="col-sm-12">
    <div class="alert alert-info">
        Your listings are shown in the table below. Expired listings will be automatically removed after 30 days.
    </div>
    <div class="row">
        <div class="col-sm-6">
            <select name="jobListYearFilter" id="jobListYearFilter" onchange="getMyJobs()" data-placeholder="Select Year" class="chosen-select-no-single">
                @{
                    int currYear = DateTime.Now.Year;
                    @for (int i = (currYear - 2); i <= currYear; i++)
                    {
                        <option value="@i">@i</option>
                    }
                }
            </select>
        </div>
        @if (null != ViewBag.Employers)
        {
            <div class="col-sm-6">
                <select class="chosen-select-no-single" name="employerFilter" id="employerFilter" asp-items="@(new SelectList(ViewBag.Employers, "UserId", "CompanyName", ViewBag.SelectedEmployer))" onchange="employerChanged()">
                    <option value="">All</option>
                </select>
            </div>
        }
    </div>
</div>
<div class="col-sm-12 home-screen-section">
    <h2 class="blacktitle">Current Job Details</h2>


    <div class="table-responsive">
        <table class="table table-bordered">
            <tr class="active">
                <th>Title</th>
                <th>Date Posted</th>
                <th>HiringCriteria</th>
                <th>JobTypeSummary</th>
                <th>Total Applications</th>
                <th>Action</th>
            </tr>

            <!-- Item #1 -->
            @if (Model.Count() > 0)
            {

                @foreach (var job in Model)
                {
                    <tr>
                        <td class="title">
                            @job.JobTitleByEmployer
                            @if (job.Featured == "True")
                            {
                                <i class="fa fa-check"></i>
                            }
                        </td>
                        <td class="companyName">@job.PostedOn.ToString("MM/dd/yyyy")</td>
                        <td class="companyName">@job.HiringCriteria</td>
                        <td class="location">@job.JobTypeSummary </td>
                        <td class="centered">
                            @job.TotalApplications
                        </td>
                        <td class="customenowrap">
                            <label onclick="populateJobOnForm(@job.JobPostId)" style="cursor:pointer"><i class="fa fa-pencil"></i> Edit</label>
                        </td>
                    </tr>
                }

            }
            else
            {
                <tr>
                    <td colspan="6">
                        <label>
                            Data not found to display
                        </label>
                    </td>
                </tr>
            }

        </table>
    </div>
</div>

<!-- Edit Job Popup Container -->

<div class="modal fade" id="editJob" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editJobInCenter">Edit Job</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="updateJob(this)">Update</button>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $("#jobRole").chosen({});
        $(".chosen-select-no-single").chosen({});
    });
</script>
