<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <title>@ViewData["Title"]</title>
    <meta name="google-site-verification" content="NP58KV_zTRAcisvzD-JHETmWOg_Dm9YlqiTuJjQLpD4" />
    @RenderSection("header", required: false)
    <link rel="shortcut icon" type="image/png" href="~/images/favicon.ico" />
    <link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/lib/jquery/jquery-ui.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600&display=swap" rel="stylesheet">
    <link href="~/lib/owl-carousel/owl.carousel.min.css" rel="stylesheet" />
    <link href="~/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/lib/Calendar/css/tail.datetime-default-red.css" rel="stylesheet" />
    <link href="~/css/CommanPopup.css" rel="stylesheet" />
    <link href="~/css/Loader.css" rel="stylesheet" />
    <link href="~/Assets/PopBox/messagebox.css" rel="stylesheet" />
    <link href="~/Assets/css/cssloader.css" rel="stylesheet" />
    <link href="~/Assets/css/style.css" rel="stylesheet" />
    @*
        <link href="~/css/Modal.css" rel="stylesheet" />
        <link href="~/css/main.css" rel="stylesheet" />
        <link href="~/css/custom.css" rel="stylesheet" />
        <link href="~/Assets/css/colors.css" rel="stylesheet" />
    *@
</head>
<body id="wrapper">
    @{
        UserViewModel user = Context.Session.Get<UserViewModel>(Constants.SessionKeyUserInfo);
        <!-- Header
        ================================================== -->
        <header class="sticky-header container-fluid">
            <div class="row">
                <div class="container">
                    <div class="d-flex align-center">
                        <!-- Logo -->
                        <a href="/Home/Index/" class="logo"><img src="~/Assets/images/logo.png" class="img-responsive" alt="Job Portal" /></a>
                        <a href="#menu" class="menu-trigger"><i class="fa fa-reorder open-menu"></i> <i class="fa fa-arrow-left close-menu" aria-hidden="true"></i></a>
                        <!-- Menu -->
                        <nav id="navigation" class="main-nav justify-content-end align-center d-flex flex-1">
                            <ul id="responsive" class="page-nav d-flex">
                                <li class="nav-item">
                                    <a href="/Home/Index/" class="nav-item-link">Home</a>
                                </li>
                                @if (user != null)
                                {
                                    @if (user.RoleName == Constants.CorporateRole || user.RoleName == Constants.StaffingPartnerRole)
                                    {
                                        <li class="nav-item subnav">
                                            <a href="javascript:void(0);" class="nav-item-link">Employer</a>
                                            <ul class="subnav-items">
                                                <li class="subnav-item"><a asp-controller="Home" asp-action="Index" class="subnav-item-link">Search Resume</a></li>
                                                <li><a asp-area="Employer" asp-controller="SearchResume" asp-action="AdvanceResumeSearch" class="subnav-item-link">Advance Search</a></li>
                                                <!--<li><a asp-area="Employer" asp-controller="JobManagement" asp-action="JobPosting">Post Job</a></li> -->
                                                <li class="subnav-item"><a asp-area="Shared" asp-controller="BulkJobPost" asp-action="Index" class="subnav-item-link">Bulk Job Post</a></li>
                                            </ul>
                                        </li>
                                    }
                                    else if (user.RoleName == Constants.StudentRole)
                                    {
                                        <li class="nav-item subnav">
                                            <a href="javascript:void(0)" class="nav-item-link">Job Seeker</a>
                                            <ul class="subnav-items">
                                                <li class="subnav-item"><a asp-area="Jobseeker" asp-controller="JobSeekerManagement" asp-action="Index" class="subnav-item-link">Search Job</a></li>
                                                <li class="subnav-item"><a asp-area="Jobseeker" asp-controller="ResumeBuilder" asp-action="Index" class="subnav-item-link">Create Resume</a></li>
                                            </ul>
                                        </li>
                                    }
                                }

                                @if (user != null)
                                {
                                    <li class="action-navlink-nav-item subnav">
                                        @if (user.ProfilePic != "")
                                        {
                                            @if (user != null && user.RoleName == Constants.CorporateRole)
                                            {
                                                <span class="action-nav-link-text employer">
                                                    @user.FullName
                                                </span>
                                            }
                                            else if (user.RoleName == Constants.StudentRole)
                                            {
                                                <span class="action-nav-link-text jobseeker">
                                                    @user.FullName
                                                </span>
                                            }

                                        }
                                        <ul class="subnav-items">
                                            @if (user != null && user.RoleName == Constants.CorporateRole)
                                            {
                                                <li class="subnav-item"><a asp-area="Employer" asp-controller="Dashboard" asp-action="EmpDashboard" class="subnav-item-link">Dashboard</a></li>

                                            }
                                            @if (user.RoleName == Constants.StudentRole)
                                            {
                                                <li class="subnav-item">
                                                    <a asp-area="Jobseeker" asp-controller="JobSeekerManagement" asp-action="Dashboard" class="subnav-item-link">Dashboard</a>
                                                </li>
                                                <li class="subnav-item"><a asp-area="Jobseeker" asp-controller="JobSeekerManagement" asp-action="Profile" class="subnav-item-link">Edit Profile</a></li>
                                            }
                                            else
                                            {
                                                @*<li class="subnav-item"><a onclick="AddEditEmp()" class="subnav-item-link">Edit Profile</a></li>*@
                                            }

                                            <li class="subnav-item"><a href="/Auth/CreateNewPassword/" class="subnav-item-link">Change Password</a></li>
                                            <li class="subnav-item"><a href="/Auth/Logout/" class="subnav-item-link">Logout</a></li>
                                        </ul>
                                    </li>

                                }
                                else
                                {
                                    <li class="action-navlink-nav-item">
                                        <a href="/Auth/JobSeekerLogin/" class="action-nav-link jobseeker">JOBSEEKER </a>
                                        <a href="/Auth/EmployerLogin/" class="action-nav-link employer">EMPLOYER</a>
                                    </li>
                                }
                            </ul>
                        </nav>
                        <!-- Menu end -->
                    </div>
                </div>
            </div>
        </header>
    }
    @*loader*@
    <div id="loader" hidden>
        <img id="imgloader" src="~/images/ajax-loader1.gif" />
    </div>
    <main class="container-fluid">
        @RenderBody()
    </main>
    <!-- Footer
    ================================================== -->
    <footer id="footer" class="footer container-fluid">
        @*<div class="row video-panel">
            <div class="container">
                <h2 class="blacktitle">Success Stories</h2>
                <div id="videSection" class="row"></div>
            </div>
        </div>*@
        <!-- Main -->
        <div class="row footer-top">
            <div class="container">
                <div class="row">
                    <div class="col-sm-3">
                        <h3>Company</h3>
                        <ul class="footer-links">
                            <li><a href="/Home/Aboutus">About Us</a></li>
                            <li><a href="/Home/ContactUs">Contact Us</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-3">
                        <h3>Privacy & Policy</h3>
                        <ul class="footer-links">
                            <li><a asp-controller="Home" asp-action="PrivacyPolicy">Privacy Policy</a></li>
                        </ul>
                    </div>

                    <div class="col-sm-3">
                        <h3>Browse</h3>
                        <ul class="footer-links">
                            <li><a href="/Home/FreelancerJobs">Freelancers Jobs</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-3">
                        <h3>Follow Us</h3>
                        <ul class="social-icons">
                            <li><a class="facebook" href="https://www.facebook.com/careerindeed.in"><i class="fa fa-facebook"></i></a></li>
                            <li><a class="twitter" href="https://twitter.com/CareerIndeed"><i class="fa fa-twitter"></i></a></li>
                            @*<li><a class="gplus" href="#"><i class="fa fa-google-plus"></i></a></li>*@
                            <li><a class="linkedin" href="https://www.linkedin.com/in/career-indeed-4984161b9/"><i class="fa fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom row">
            <p class="copyrights container text-center">©  Copyright 2020 by <a href="https://www.careerindeed.in">CareerIndeed</a>. All Rights Reserved.</p>
        </div>
    </footer>
    <div class="windows8">
        <div class="wBall" id="wBall_1">
            <div class="wInnerBall"></div>
        </div>
        <div class="wBall" id="wBall_2">
            <div class="wInnerBall"></div>
        </div>
        <div class="wBall" id="wBall_3">
            <div class="wInnerBall"></div>
        </div>
        <div class="wBall" id="wBall_4">
            <div class="wInnerBall"></div>
        </div>
        <div class="wBall" id="wBall_5">
            <div class="wInnerBall"></div>
        </div>
    </div>

    <!-- Back To Top Button -->
    @*<div id="backtotop"><a href="#"></a></div>*@
    <!-- Wrapper / End -->
    <!-- Scripts
    ================================================== -->
    @*<script data-cfasync="false" src="../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>*@
    @*<script src="scripts/jquery-3.4.1.min.js"></script>*@
    <script src="~/Assets/scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Assets/scripts/jquery-migrate-3.1.0.min.js"></script>

    <script src="~/lib/Calendar/js/tail.datetime.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/lib/owl-carousel/owl.carousel.min.js"></script>

    <script src="~/Assets/scripts/custom.js"></script>
    <script src="~/Assets/scripts/jquery.superfish.js"></script>
    <script src="~/Assets/scripts/jquery.themepunch.tools.min.js"></script>
    <script src="~/Assets/scripts/jquery.themepunch.revolution.min.js"></script>
    <script src="~/Assets/scripts/jquery.themepunch.showbizpro.min.js"></script>
    <script src="~/Assets/scripts/jquery.flexslider-min.js"></script>
    <script src="~/Assets/scripts/chosen.jquery.min.js"></script>
    <script src="~/Assets/scripts/jquery.magnific-popup.min.js"></script>
    <script src="~/Assets/scripts/waypoints.min.js"></script>
    <script src="~/Assets/scripts/jquery.counterup.min.js"></script>
    <script src="~/Assets/scripts/jquery.jpanelmenu.js"></script>
    <script src="~/Assets/scripts/stacktable.js"></script>
    <script src="~/Assets/scripts/slick.min.js"></script>
    <script src="~/Assets/scripts/headroom.min.js"></script>

    <script src="~/Assets/scripts/jquery.validate.min.js"></script>
    <script src="~/js/Shared/sharedjs.js"></script>
    <script src="~/js/common.js"></script>
    <script src="~/js/Validation.js"></script>
    <script src="~/js/main.js"></script>
    <script src="~/js/_layout.js"></script>
    <script src="~/Assets/PopBox/messagebox.js"></script>


    @RenderSection("Scripts", required: false)
</body>
</html>
