@using JobPortal.Model.DataViewModel.JobSeeker
@model JobSeekerDashboardSummary


<div id="titlebar" class="col-sm-12 banner-bg" style="background-image: url(/Assets/images/all-categories-photo.jpg);">
    @{
        UserViewModel usrData = Context.Session.Get<UserViewModel>(Constants.SessionKeyUserInfo);
        <h2 class="whitetitle"><span class="title-bdr-black-4">Welcome, @usrData.FirstName!</h2>
    }
</div>
<!-- Breadcrumbs -->
<nav id="breadcrumbs" class="col-sm-12">
    <ol class="breadcrumb">
        <li><a href="">Home</a></li>
        <li>Dashboard</li>
    </ol>
</nav>
<!-- Content -->
<div class="col-sm-12 dashboard-stats">
    <!-- Item -->
    <div class="dashboard-stat color-1 col-sm-3 col-xs-6" onclick="JobseekerViewedProfile()">
        <h4 class="counter">
            <span>@Model.ViewedYourProfile</span>
        </h4>
        <p>Viewed your profile</p>
    </div>
    <!-- Item -->
    <div class="dashboard-stat color-2 col-sm-3 col-xs-6" onclick="JobseekerAppliedJobs()">
        <h4 class="counter">
            <span>
                @Model.TotalAppliedJobs
            </span>
        </h4>
        <p>Total Job Applied</p>

    </div>
    <!-- Item -->
    <div class="dashboard-stat color-3 col-sm-3 col-xs-6" onclick="JobseekerContactedDetails()">
        <h4 class="counter">
            <span>@Model.TotalContactedNo</span>
        </h4>
        <p>Contacted you</p>
    </div>
    <!-- Item -->
    <div class="dashboard-stat color-4 col-sm-3 col-xs-6" onclick="EmployerFollowers()">
        <h4 class="counter">
            <span>@Model.TotalCompaniesFollowed</span>
        </h4>
        <p>Companies followed</p>
    </div>
</div>

<div class="col-sm-12 spacer-top-20">
    <h2 class="blacktitle">
        Recommended Jobs
    </h2>
    <!-- Listing -->
    @if (ViewBag.SkillsJobs != null && ViewBag.SkillsJobs.Count > 0)
    {
        <div class="job-lists two-column">
            foreach (var row in ViewBag.SkillsJobs)
            {
            <div class="job-lists-item col-sm-6">
                <div class="listing-logo">
                    <a href="/Job/JobDetails/?jobid=@row.JobPostId" class="listing full-time"> <img src="@row.CompanyLogo" alt=""> </a>
                </div>
                <div class="listing-title">
                    <h4>@row.JobTitleByEmployer<span class="listing-type">@row.EmploymentStatus</span></h4>
                    <ul class="listing-icons">
                        <li><i class="ln ln-icon-Management"></i> @row.CompanyName</li>
                        <li><i class="ln ln-icon-Map2"></i> @row.City</li>
                        <li><i class="ln ln-icon-Money-2"></i>@row.CTC</li>
                        <li><i class="ln ln-icon-Archery-2"></i>@row.Skills</li>
                    </ul>
                </div>

            </div>
            }
        </div>
    }
    else
    {
        <p>No recommended jobs! </p>
    }

</div>
