@using JobPortal.Model.DataViewModel.JobSeeker
@model JobSeekerDashboardSummary


<div id="titlebar" class="col-sm-12 banner-bg" style="background-image: url(/Assets/images/all-categories-photo.jpg);">
    @{
        UserViewModel usrData = Context.Session.Get<UserViewModel>(Constants.SessionKeyUserInfo);
        <h2 class="whitetitle"><span class="title-bdr-black-4">Welcome, @usrData.FirstName!</h2>
    }
</div>
<!-- Breadcrumbs -->
<nav id="breadcrumbs" class="col-sm-12">
    <ol class="breadcrumb">
        <li><a href="">Home</a></li>
        <li>Dashboard</li>
    </ol>
</nav>


<!-- Content -->
<div class="row">
    <!-- Item -->
    <div class="col-lg-3 col-md-6" onclick="JobseekerViewedProfile()">
        <div class="dashboard-stat color-1">
            <div class="dashboard-stat-content"><h4 class="counter">@Model.ViewedYourProfile</h4> <span>Viewed your profile</span></div>
            <div class="dashboard-stat-icon"><i class="ln ln-icon-File-Link"></i></div>
        </div>
    </div>
    <!-- Item -->
    <div class="col-lg-3 col-md-6" onclick="JobseekerAppliedJobs()">
        <div class="dashboard-stat color-2">
            <div class="dashboard-stat-content"><h4 class="counter">@Model.TotalAppliedJobs</h4> <span>Total Job Applied</span></div>
            <div class="dashboard-stat-icon"><i class="ln ln-icon-Bar-Chart"></i></div>
        </div>
    </div>

    <!-- Item -->
    <div class="col-lg-3 col-md-6" onclick="JobseekerContactedDetails()">
        <div class="dashboard-stat color-3">
            <div class="dashboard-stat-content"><h4 class="counter">@Model.TotalContactedNo</h4> <span>Contacted you</span></div>
            <div class="dashboard-stat-icon"><i class="ln ln-icon-Business-ManWoman"></i></div>
        </div>
    </div>

    <!-- Item -->
    <div class="col-lg-3 col-md-6" onclick="EmployerFollowers()">
        <div class="dashboard-stat color-4">
            <div class="dashboard-stat-content"><h4 class="counter">@Model.TotalCompaniesFollowed</h4> <span>Companies followed</span></div>
            <div class="dashboard-stat-icon"><i class="ln ln-icon-Add-UserStar "></i></div>
        </div>
    </div>
</div>

<div class="container">
    <!-- Recent Jobs -->
    <h3 class="margin-bottom-20 margin-top-10">Recommended Jobs</h3>
    <div class="eleven columns">
        <div class="padding-right">
            <div class="listings-container">

                <!-- Listing -->
                @if (ViewBag.SkillsJobs != null && ViewBag.SkillsJobs.Count > 0)
                {
                    foreach (var row in ViewBag.SkillsJobs)
                    {
                        <a href="/Job/JobDetails/?jobid=@row.JobPostId" class="listing full-time">
                            <div class="listing-logo">
                                <img src="@row.CompanyLogo" alt="">
                            </div>
                            <div class="listing-title">
                                <h4>@row.JobTitleByEmployer<span class="listing-type">@row.EmploymentStatus</span></h4>
                                <ul class="listing-icons">
                                    <li><i class="ln ln-icon-Management"></i> @row.CompanyName</li>
                                    <li><i class="ln ln-icon-Map2"></i> @row.City</li>
                                    <li><i class="ln ln-icon-Money-2"></i>@row.CTC</li>
                                    <li><i class="ln ln-icon-Archery-2"></i>@row.Skills</li>
                                    @*<li><div class="listing-date new"></div></li>*@
                                </ul>
                            </div>
                        </a>
                    }
                }
                else
                {
                    <p>No recommended jobs! </p>
                }
            </div>
        </div>
    </div>
</div>

