@using JobPortal.Model.DataViewModel.JobSeeker
@model JobSeekerDashboardSummary

    <div id="titlebar" class="col-sm-12 banner-bg" style="background-image: url(/Assets/images/all-categories-photo.jpg);">
        <h2 class="whitetitle">Job Applied</h2>
    </div>
    <nav id="breadcrumbs" class="col-sm-12">
        <ol class="breadcrumb">
            <li><a href="#">Home</a></li>
            <li><a href="/JobSeekerManagement/Dashboard">Dashboard</a></li>
            <li>Job Applied</li>
        </ol>
    </nav>
    <div class="col-xs-12 home-screen-section">
        <div class="table-responsive">
            <!-- Table -->
            <table class="manage-table table table-bordered">
                <tr class="active">
                    <th>Job Title</th>
                    <th>Company</th>
                    <th>Location</th>
                    <th>CTC</th>
                    <th>Date</th>
                </tr>
                <!-- Item #1 -->
                @if (ViewBag.Appliedjob != null && Enumerable.Count(ViewBag.Appliedjob) > 0)
                {
                    foreach (var item in ViewBag.Appliedjob)
                    {
                        <tr>
                            <td class="alert-name">@item.JobTitle</td>
                            <td>@item.CompanyName</td>
                            <td>@item.City</td>
                            <td>@item.CTC</td>
                            <td>@item.CreatedDate</td>
                        </tr>

                    }

                }
                else
                {
                    <tr>
                        <td colspan="5">No data available!</td>
                    </tr>
                }

            </table>
        </div>
    </div>
