@using JobPortal.Model.DataViewModel.JobSeeker
@model UserProfessionalDetailsViewModel
@{
    ViewData["Title"] = "Profile";
}
<link href="~/css/CommanPopup.css" rel="stylesheet" />
<link href="~/lib/Calendar/css/tail.datetime-default-red.css" rel="stylesheet" />
<link href="~/lib/tag-editor/jquery.tag-editor.css" rel="stylesheet" />
<!-- Dashboard -->
<div id="dashboard" class="d-flex container body-container">
    <!-- Navigation
    ================================================== -->
    <!-- Responsive Navigation Trigger -->
    <a href="#" class="dashboard-responsive-nav-trigger"><span class="nav-bdr"></span></a>
    <div class="dashboard-nav">

        <ul data-submenu-title="">
            <li><a href="javascript:void(0)" id="ResumeUploadWithLabel">Attach Resume</a></li>
            <li><a href="javascript:void(0)" id="ProfileSkillsModalCenterADD" data-toggle="modal" onclick="EditProfileSkills()">Add Key Skills</a></li>
            <li><a href="" id="employementModalCenterADD" data-toggle="modal" onclick="ShowModal('employementModalCenter')">Add Employment</a></li>
            <li><a href="" id="educationModalCenterADD" data-toggle="modal" onclick="ShowModal('educationModalCenter')">Add Education</a></li>
            <li><a href="" id="ProfileSummaryModalCenterADD" onclick="EditProfileSummary()" data-toggle="modal">Add Profile Summary</a></li>
            <li><a href="" id="profileModalCenterADD" data-toggle="modal" onclick="EditProfileData()">Add Personal Details</a></li>
            <li><a href="" id="locationeModalCenterADD" data-toggle="modal" onclick="ShowModal('locationModalCenter')">Add Preferred Location</a></li>
        </ul>
    </div>
    <!-- Navigation / End -->
    <!-- Content
    ================================================== -->
    <div class="flex-1 mobile-full-screen spacer-bottom-20">
        <div class="usrProfile col-sm-12 home-screen-section">
            @{
                UserViewModel usrProfile = Context.Session.Get<UserViewModel>(Constants.SessionKeyUserInfo);

                <div class="row d-flex align-center">
                    <div class="profile-img">
                        <span class="user-img">
                            <input type="file" name="ImageFile" class="custom-file-input" onchange="UploadProfilePicture(this)" id="customImageFile" accept=".jpg, .jpeg,.png" required style="display:none" />
                            <img src="" class="img-responsive" id="profileimage" alt="">
                        </span>
                        <a id="usrprofilepicupload" class="changeimage">Change Image</a>
                    </div>
                    <div class="flex-1">
                        <h2 class="blacktitle">@usrProfile.FullName <img src="~/Assets/images/RightMark.png" class="verified-mark" /></h2>
                    </div>
                </div>
                <div class="row profile-details">
                    <ul class="profile-info-text col-sm-12">
                        <li class="profile-info col-sm-6">Email Id: @usrProfile.Email </li>
                        <li class="profile-info col-sm-6">Phone No: @usrProfile.MobileNo</li>
                        <li class="profile-info col-sm-6">Job Title: @usrProfile.JobTitleName</li>
                        <li class="profile-info col-sm-6">Annual salary: <span id="usrProfileCTC"></span></li>
                        <li class="profile-info col-sm-6">Employment: <span id="usrEmploymentStatus"></span></li>
                        <li class="profile-info col-sm-6">Allow job alert <input type="checkbox" class="form-check-input" id="btnJobAlert"></li>
                    </ul>
                </div>
                <div class="profile-score">
                    <div class="progress ProgressDiv" id="ProgressDiv">
                        @*<div class="progress-bar" role="progressbar" style="width: 75%;" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>*@
                    </div>
                </div>
            }
        </div>
        <div class="jobseeker-doc col-sm-12 spacer-top-10">
            <div class="form-group text-right row">
                <a href="javascript:void(0)" target="_blank" id="Resumefile" class="btn btn-primary"><i class="fa fa-file-text"></i> Download CV</a>
                <a asp-area="Jobseeker" asp-controller="ResumeBuilder" asp-action="Index" class="btn btn-success"><i class="fa fa-envelope"></i> Build Resume</a>
            </div>
            <div class="row d-flex align-center">
                <div class="col-sm-2">
                    <img src="~/Assets/images/Resume.png" alt="" class="img-responsive">
                    <span id="Resumename"></span>
                </div>
                <div class="col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label class="input-label">
                            Upload Resume
                        </label>
                        <input type="file" name="files" class="form-control input-elements" id="uplaodFile" accept=".doc, .docx,.pdf" onchange="UploadResume('uplaodFile')" style="" />
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12">
            <hr />
            <div class="row">
                <div class="col-xs-6">
                    <h4>Key Skills</h4>
                </div>
                <div class="col-xs-6 text-right "><a href="javascript:void(0)" onclick="EditProfileSkills()" class="quick-links text-uppercase"> Add More</a></div>
            </div>
            <p class="subHeadinfo">
                Helps recruiter in finding you for relevant jobs.
            </p>
            <p id="txtSkillsValues" class="profileSummary"></p>
        </div>

        <div class="col-sm-12">
            <hr />
            <div class="row">
                <div class="col-xs-6">
                    <h4>IT Skills</h4>
                </div>
                <div class="col-xs-6 text-right ">
                    <a data-toggle="modal" onclick="AddITSkills()" class="quick-links text-uppercase">+Add More</a>
                </div>
            </div>
            <div class="table-responsive spacer-top-20">
                <!-- Table -->
                <table class="table table-bordered">
                    <tr class="active">
                        <th hidden>id</th>
                        <th>Skill</th>
                        <th>Version</th>
                        <th>Last Used</th>
                        <th>Experience(y)</th>
                        <th>Action</th>
                    </tr>
                    <tbody id="ITSkills"></tbody>
                </table>
            </div>
        </div>
        <div class="col-sm-12">
            <hr />
            <div class="row">
                <div class="col-xs-6">
                    <h4>Employment Details</h4>
                </div>
                <div class="col-xs-6 text-right">
                    <a data-toggle="modal" onclick="ShowModal('employementModalCenter')" class="quick-links text-uppercase"> Add More</a>
                </div>
            </div>
            <div id="addEmployment" class="d-flex flex-wrap"></div>
        </div>
        <div class="col-sm-12">
            <hr />
            <div class="row">
                <div class="col-xs-6">
                    <h4>Education Details </h4>
                </div>
                <div class="col-xs-6 text-right">
                    <a data-toggle="modal" onclick="ShowModal('educationModalCenter')" class="quick-links text-uppercase"> Add More</a>
                </div>
            </div>
            <div id="addEducation" class="d-flex flex-wrap"></div>
        </div>
        <div class="col-sm-12">
            <hr />
            <div class="row">
                <div class="col-xs-6">
                    <h4>Profile Summary</h4>
                </div>
                <div class="col-xs-6 text-right">
                    <a onclick="EditProfileSummary()" class="quick-links text-uppercase"> Add More</a>
                </div>
            </div>
            <div id="txtProfileSummary"></div>
        </div>
        <div class="col-sm-12">
            <hr />
            <div class="row">
                <div class="col-xs-6">
                    <h4>Preferred Location</h4>
                </div>
                <div class="col-xs-6 text-right">
                    <a data-toggle="modal" onclick="ShowModal('locationModalCenter')" class="quick-links text-uppercase"> Add More</a>
                </div>
            </div>
            <div id="preferredlocationdata"></div>
        </div>
        <div class="col-sm-12">
            <hr />
            <div class="row">
                <div class="col-xs-6">
                    <h4>  Personal Details</h4>
                </div>
                <div class="col-xs-6 text-right">
                    <a data-toggle="modal" onclick="EditProfileData()" class="quick-links text-uppercase"> Add More</a>
                </div>
            </div>
            <div class="row" id="divpersonalDetails">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-sm-6 summary-data">
                            <label class="data-label">
                                Date of Birth:
                            </label>
                            <label class="data-value" id="personaldob"></label>
                        </div>
                        <div class="col-sm-6 summary-data">
                            <label class="data-label">
                                Email Id:
                            </label>
                            <label class="data-value" id="personalemail"></label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 data-panel-wrapper">
                            <label class="data-label">
                                Mobile Number:
                            </label>
                            <label class="data-value" id="personalphone"></label>
                        </div>
                        <div class="col-sm-6 summary-data">
                            <label class="data-label">
                                Gender:
                            </label>
                            <label class="data-value" id="personalgender"></label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 summary-data">
                            <label class="data-label">
                                Linkedin Profile:
                            </label>
                            <label class="data-value" id="personalLinkedinProfile"></label>
                        </div>
                        <div class="col-sm-6 summary-data">
                            <label class="data-label">
                                Marital Status:
                            </label>
                            <label class="data-value" id="personalMaritalSatatusName"></label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 summary-data">
                            <label class="data-label">
                                Address:
                            </label>
                            <label class="data-value" id="personaladdress"></label>
                        </div>
                    </div>
                </div>
                <input type="hidden" id="hdnCurrentSalary" value="" />
                <input type="hidden" id="hdnMaritalStatus" value="" />
                <input type="hidden" id="hdnExpectedSalary" value="" />
                <input type="hidden" id="hdnAboutMe" value="" />
                <input type="hidden" id="hdnJobCategory" value="" />
                <input type="hidden" id="hdnEmploymentStatus" value="" />
                <input type="hidden" id="hdnCountry" value="" />
                <input type="hidden" id="hdnState" value="" />
                <input type="hidden" id="hdnCity" value="" />
                <input type="hidden" id="hdnTotalExperience" value="" />
                <input type="hidden" id="hdnJobTitleId" value="" />

            </div>
        </div>
        <!-- Content / End -->
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="employementModalCenter" tabindex="-1" role="dialog" aria-labelledby="employementModalCenter" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <h2 class="blacktitle">Employment</h2>
                <form onsubmit="AddJobProfile(this);return false" id="AddJobProfileForm" class="spacer-top-20">
                    <input type="hidden" name="Id" value="0" />
                    <input type="hidden" name="Industry" value="" />
                    <input type="hidden" name="Skills" value="" />
                    <input type="hidden" name="WorkLocation" value="" />
                    @*<input type="hidden" name="ServingNoticePeriod" value=true />*@
                    <!-- designation -->
                    <div class="form-group">
                        <label class="input-label">Designation</label>
                        <input class="form-control input-elements" type="text" name="Designation" id="Designation" placeholder="Type Your Designation" value="" required />
                    </div>
                    <!-- organization -->
                    <div class="form-group">
                        <label class="input-label">Organization</label>
                        <input class="form-control input-elements" type="text" name="Organization" id="Organization" placeholder="Type Your Organization" value="" required />
                    </div>
                    <div class="form-group">
                        <label class="input-label">Is this your current company?</label>
                        <div class="min-width-100">
                            <label class="radio-inline"><input type="radio" name="IsCurrentOrganization" value="true" id="chkYes" class="eduRadio" required> Yes</label>
                            <label class="radio-inline"><input type="radio" name="IsCurrentOrganization" value="false" id="chkNo" class="eduRadio" required> No</label>
                        </div>
                    </div>

                    <div class="row">
                        <!-- working from -->
                        <div class="col-xs-6">
                            <div class="form-group">
                                <label class="input-label">Working from</label>
                                <select class="selectDropdown form-control input-elements" name="WorkingFromYear" id="workStartYear" required>
                                    <option value="">Year</option>
                                    @{
                                        int currYear = DateTime.Now.Year;
                                        @for (int i = (currYear - 30); i <= (currYear); i++)
                                        {
                                            <option value="@i">@i</option>
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <!-- month -->
                            <div class="form-group">
                                <label class="input-label">Month</label>
                                <select class="selectDropdown form-control input-elements" " name="WorkingFromMonth" id="workStartMonth" required>
                                    <option value="">Month</option>
                                    @for (int i = 0; i < 12; i++)
                                    {
                                        <option value="@i">@(i + 1)</option>
                                    }
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <!-- working from -->
                        <div class="col-xs-6">
                            <!-- Select end from -->
                            <div class="form-group">
                                <label class="input-label">Select end from</label>
                                <select class="selectDropdown form-control input-elements" name="WorkingTill" id="workEndYear" required>
                                    <option value="-1">Present</option>
                                    @{
                                        int currYearTill = DateTime.Now.Year;
                                        for (int i = (currYearTill - 20); i <= (currYearTill); i++)
                                        {
                                            <option value="@i">@i</option>
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <!-- Notice Period -->
                            <div class="form-group">
                                <label class="input-label">Notice Period</label>
                                <select class="selectDropdown form-control input-elements" name="NoticePeriod" id="ddlNotice">
                                    <option value="0">Select</option>
                                    <option value="15">15 Days</option>
                                    <option value="30">30 Days</option>
                                    <option value="45">45 Days</option>
                                    <option value="60">60 Days</option>
                                    <option value="90+">90 Days or more</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6">
                            <!-- Current Salary Lk-->
                            <div class="form-group">
                                <label class="input-label">Current salary(Lakhs)</label>
                                <select class="selectDropdown form-control input-elements" name="AnnualSalaryInLakhs" id="ddlLacRupee" required>
                                    <option value="">Select</option>
                                    @for (int i = 0; i < 100; i++)
                                    {
                                        <option value="@i">@i</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <!-- Current Salary Th -->
                            <div class="form-group">
                                <label class="input-label">salary(Thous)</label>
                                <select class="selectDropdown form-control input-elements" name="AnnualSalaryInThousands" id="ddlThRupee" required>
                                    @for (int i = 0; i < 100; i += 5)
                                    {
                                        <option value="@i">@i</option>
                                    }
                                </select>
                            </div>
                        </div>
                    </div>
                    <!-- Description -->
                    <div class="form-group">
                        <label class="input-label">Describe your Job Profile</label>
                        <textarea class="WYSIWYG form-control input-elements resizetextarea" name="JobProfile" placeholder="Type here" id="txtDescribe" cols="15" rows="3" spellcheck="true" required></textarea>
                    </div>
                    <div class="btn-row text-right spacer-top-20">
                        <input type="button" class="btn btn-default" data-dismiss="modal" id="closeModelPupup" value="Close" />
                        <input type="submit" class="btn btn-primary" value="Save changes" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="educationModalCenter" tabindex="-1" role="dialog" aria-labelledby="educationModalCenter" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <h2 class="blacktitle">Add Education</h2>
                <form onsubmit="AddEducation(this);return false">
                    <input type="hidden" name="Id" value="0" />
                    <div class="form-group">
                        <label class="input-label">
                            Education
                        </label>
                        <select class="selectDropdown form-control input-elements" id="CourseCategory" name="Qualification" required>
                            <option value="">--Select Course Category--</option>
                            @foreach (var course in @ViewBag.Coursecategory)
                            {
                                <option value="@course.Id">@course.Name</option>
                            }
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="input-label">
                            Course
                        </label>
                        <select class="selectDropdown form-control input-elements" name="Course" id="ddlcourse" required></select>
                    </div>
                    <div class="form-group">
                        <h5>Specialization</h5>
                        <input type="text" name="Specialization" id="Specialization" class=" form-control input-elements" eduModeltxtbox" placeholder="Type Your Specialization" required>
                    </div>
                    <div class="form-group">
                        <label class="input-label">
                            University/Institute
                        </label>
                        <input type="text" name="University" id="UniversityInstitute" class=" form-control input-elements" eduModeltxtbox" placeholder="Type Your University/Institute" required>
                    </div>
                    <div class="form-group">
                        <label class="input-label">
                            Course Type
                        </label>
                        <div class="min-width-100">
                            <label class="radio-inline"><input type="radio" name="CourseType" value="1" class="eduRadio" required> Full Time</label>
                            <label class="radio-inline"><input type="radio" name="CourseType" value="2" class="eduRadio" required> Part Time</label>
                            <label class="radio-inline"><input type="radio" name="CourseType" value="3" class="eduRadio" required> Correspondence</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6">
                            <div class="form-group">
                                <label class="input-label">
                                    Pass Out Year
                                </label>
                                <select class="selectDropdown  form-control input-elements" name="PassingYear" required>
                                    @{
                                        int currYearPassing = DateTime.Now.Year;
                                        @for (int i = (currYearPassing - 50); i <= (currYearPassing + 1); i++)
                                        {
                                            <option value="@i">@i</option>
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div class="form-group">
                                <label class="input-label">
                                    Grading System/Percentage
                                </label>
                                <input type="text" name="Percentage" id="GradingSystemPercentages" class="form-control input-elements" eduModeltxtbox" placeholder="Grading System/Percentage" required>
                            </div>
                        </div>
                    </div>
                    <div class="btn-row text-right spacer-top-20">
                        <input type="button" class="btn btn-default" data-dismiss="modal" id="closeModelPupupEdu" value="Close" />
                        <input type="submit" class="btn btn-primary" value="Save changes" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="profileModalCenter" tabindex="-1" role="dialog" aria-labelledby="profileModalCenter" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <h2 class="blacktitle">Add Profile Detail</h2>
                <div class="form-group spacer-top-20">
                    @foreach (var jobType in ViewBag.JobTypes)
                    {
                        <label class="radio-inline">
                            <input type="radio" id="radioJobType" name="jobType" value="@jobType.Id" class="eduRadio">
                            @jobType.Type
                        </label>
                    }
                </div>
                <div class="form-group">
                    <select name="years" class="selectDropdown form-control input-elements">
                        @for (int i = 0; i <= 15; i++)
                        {
                            <option value=@i>@(i) Year(s)</option>
                        }
                    </select>
                    <select name="months" class="selectDropdown form-control input-elements">
                        @for (int i = 0; i <= 11; i++)
                        {
                            <option value=@i>@(i) Month(s)</option>
                        }
                    </select>
                </div>
                <div class="form-group">
                    <label class="input-label">
                        Linkedin Profile
                    </label>
                    <input type="text" required id="LinkedinProfile" name="LinkedinProfile" class="form-control input-elements" eduModeltxtbox" placeholder="">
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="input-label">
                                Date of Birth
                            </label>
                            <input type="date" required id="DOB" name="DOB" class="selectDropdown form-control input-elements" placeholder="" style="width:100%">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="input-label">
                                Phone Number
                            </label>
                            <input type="text" maxlength="10" name="phone" id="phoneNumber1" class="form-control input-elements" eduModeltxtbox" placeholder="Type Your phone number">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="input-label">
                        Email Id
                    </label>
                    @{
                        UserViewModel users = Context.Session.Get<UserViewModel>(Constants.SessionKeyUserInfo);
                        <input type="text" name="Emailid" id="emailId1" value=@users.Email class="form-control input-elements eduModeltxtbox" placeholder="Type Your email Id" readonly>
                    }
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="input-label">
                                Current Salary
                            </label>
                            <input type="text" name="CurrentSalary" id="CurrentSalary" class="form-control input-elements" eduModeltxtbox" placeholder="Please enter Current Salary">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="input-label">
                                Expected Salary
                            </label>
                            <input type="text" name="ExpectedSalary" id="ExpectedSalary" class="form-control input-elements" eduModeltxtbox" placeholder="Type Your Expected Salary">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="input-label">
                        Job Category
                    </label>
                    <select id="ddlJobCategory" class="selectDropdown form-control input-elements" asp-items="@(new SelectList(@ViewBag.JobIndustryArea,"JobIndustryAreaId", "JobIndustryAreaName"))"></select>
                </div>
                <div class="form-group">
                    <label class="input-label">
                        Job Title
                    </label>
                    <select id="ddlJobTitle" class="selectDropdown form-control input-elements" name="JobTitle" asp-items="@(new SelectList(@ViewBag.AllJobTitle,"JobTitleId", "JobTitleName"))" required>
                        <option value="">Select Job Title</option>
                    </select>
                </div>
                <div class="row">
                    <div class="col-xs-6">
                        <div class="form-group">
                            <label class="input-label">
                                Employment Status
                            </label>
                            <select id="ddlEmploymentStatus" class="selectDropdown form-control input-elements" asp-items="@(new SelectList(@ViewBag.EmploymentStatus,"EmploymentStatusId", "EmploymentStatusName"))">
                                <option value="">Employment Status</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <div class="form-group">
                            <label class="input-label">
                                Marital Status
                            </label>
                            <select class="selectDropdown form-control input-elements" id="ddlMaritalStatus">
                                <option value="">Select Marital Status</option>
                                <option value="single">UnMarried</option>
                                <option value="married">Married</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="input-label">
                        Gender
                    </label>
                    <div class="min-width-100">
                        <label class="radio-inline">
                            <input type="radio" name="gender" id="btnMale"> Male
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="gender" id="btnFemale">Female
                        </label>
                    </div>
                </div>
                <hr />
                <div class="form-group">
                    <label class="input-label">
                        Country
                    </label>
                    <select id="ddlCountry" class="selectDropdown form-control input-elements" required asp-items="@(new SelectList(@ViewBag.Country,"CountryCode", "Country"))">
                        <option value="">Select Country</option>
                    </select>
                </div>
                <div class="row">
                    <div class="col-xs-6">
                        <div class="form-group">
                            <label class="input-label">
                                State
                            </label>
                            <select class="selectDropdown form-control input-elements" id="ddlState" required>
                                <option value="">Select State</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <div class="form-group">
                            <label class="input-label">
                                City
                            </label>
                            <select class="selectDropdown form-control input-elements" id="ddlCity" required>
                                <option value="">Select City</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="input-label">
                        Address
                    </label>
                    <input type="text" name="Address" id="txtAddress" class="form-control input-elements eduModeltxtbox" placeholder="Type Your Address">
                </div>
                <div class="form-group">
                    <label class="input-label">
                        About Me
                    </label>
                    <input type="text" name="AboutMe" id="AboutMe" class="form-control input-elements eduModeltxtbox" placeholder="Type Your About Me">
                </div>
                <div class="btn-row text-right spacer-top-20">
                    <input type="button" class="btn btn-default" data-dismiss="modal" id="closeModelPupupProfile" value="Close" />
                    <input type="submit" class="btn btn-primary" onclick="AddProfileDetail();" value="Save changes" />
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="locationModalCenter" tabindex="-1" role="dialog" aria-labelledby="locationModalCenter" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <h2 id="locationModalTitle" class="blacktitle">Add Preferred Location</h2>
                <div class="row spacer-top-20">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="input-label">City 1</label>
                            <select class="selectDropdown form-control input-elements" id="location1" required>
                                <option value="">Select City</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="input-label">City 2</label>
                            <select class="selectDropdown form-control input-elements" id="location2" required>
                                <option value="">Select City</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="input-label">City 3</label>
                            <select class="selectDropdown form-control input-elements" id="location3" required>
                                <option value="">Select City</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="btn-row text-right spacer-top-20">
                    <input type="button" class="btn btn-default" data-dismiss="modal" id="closeModelPupuppSkills" value="Close" />
                    <input type="submit" class="btn btn-primary" onclick="AddPreferredLocation();" value="Save changes" />
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="ProfileSummaryModalCenter" tabindex="-1" role="dialog" aria-labelledby="ProfileSummaryModalCenter" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <h2 id="ProfileSummaryModalLongTitle" class="blacktitle">Add Profile Summary</h2>
                <div class="form-group spacer-top-20">
                    <textarea id="txtareaprofileSummary" class="WYSIWYG form-control input-elements resizetextarea" placeholder="Type here" cols="15" rows="3" spellcheck="true" required></textarea>
                </div>
                <div class="btn-row text-right spacer-top-20">
                    <input type="button" class="btn btn-default" data-dismiss="modal" id="closeModelPupuppSummary" value="Close" />
                    <input type="submit" class="btn btn-primary" onclick="AddProfileSummary();" value="Save changes" />
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="skillsModalCenter" tabindex="-1" role="dialog" aria-labelledby="skillsModalCenter" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <h2 class="blacktitle">Update/Add Skills</h2>
                <div class="form-group spacer-top-20">
                    <label class="input-label">Add Valid Skills</label>
                    <textarea id="skillsValue" class="form-control input-elements text-area-editor resizetextarea"></textarea>
                </div>
                <div class="btn-row text-right spacer-top-20">
                    <button type="button" class="btn btn-default" data-dismiss="modal" id="closeModelPupuppSkills">Close</button>
                    <button type="button" class="btn btn-primary" onclick="AddProfileSkills();">Save changes</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="ITSkillsModel" tabindex="-1" role="dialog" aria-labelledby="ITSkillsModel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <h2 id="" class="blacktitle">IT Skills</h2>
                <input type="hidden" name="ITSkillId" id="ITSkillId" value="0" />
                <div class="row spacer-top-20">
                    <div class="col-xs-6">
                        <div class="form-group">
                            <label class="input-label">Slill</label>
                            <input type="text" name="ITSkill" id="ITSkill" class="form-control input-elements" placeholder="Skill">
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <div class="form-group">
                            <label class="input-label">Version</label>
                            <input type="text" name="SkillVersion" id="SkillVersion" class="form-control input-elements" maxlength="10" placeholder="Skill Version">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-4">
                        <div class="form-group">
                            <label class="input-label">Used till on</label>
                            <select name="LastUsed" id="LastUsed" class="form-control input-elements">
                                <option value="" disabled selected>Last Used</option>
                                @{
                                    int nowYear = DateTime.Now.Year;
                                    @for (int i = (nowYear - 10); i <= nowYear; i++)
                                    {
                                        <option value="@i">@i</option>
                                    }
                                }
                            </select>
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <div class="form-group">
                            <label class="input-label">Year/Years</label>
                            <select name="ExperienceYear" id="ExperienceYear" class="form-control input-elements">
                                <option value="" disabled selected>Exp. Years</option>
                                @for (int i = 0; i <= 11; i++)
                                {
                                    <option value=@i>@(i)</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <div class="form-group">
                            <label class="input-label">Months</label>
                            <select name="ExperienceMonth" id="ExperienceMonth" class="form-control input-elements">
                                <option value="" disabled selected>Exp. Months</option>
                                @for (int i = 0; i <= 11; i++)
                                {
                                    <option value=@i>@(i) Month(s)</option>
                                }
                            </select>
                        </div>
                    </div>
                </div>
                <div class="btn-row text-right spacer-top-20">
                    <input type="submit" class="btn btn-primary" onclick="UpdateITSKill();" value="Save changes" />
                    <input type="button" class="btn btn-default" data-dismiss="modal" id="closeModelPupuppSummary" value="Close" />
                </div>
            </div>

        </div>
    </div>
</div>


<!-- Modal HTML -->
<div id="alertpopup" class="modal fade" role="dialog" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-confirm">
        <div class="modal-content">
            <div class="modal-body">
                <h4 class="modal-title" id="tagiging"></h4>
                <i id="iconPopup" class="" aria-hidden="true"></i>
                <p class="text-center" id="tagginMessage"></p>
                <button id="btnSuccess" onclick="dissmissModal()" class="btn btn-success btn-block" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>



@section Scripts
    {

    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/lib/jquery/jquery-ui.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/lib/Calendar/js/tail.datetime.js"></script>
    <script src="~/lib/tag-editor/jquery.caret.min.js"></script>
    <script src="~/lib/tag-editor/jquery.tag-editor.min.js"></script>
    <script src="~/Assets/PopBox/messagebox.js"></script>
    <script src="~/js/Jobseeker/Profile.js"></script>
    <script src="~/js/common.js"></script>
}
