@using JobPortal.Model.DataViewModel.TrainingPartner
@model CandidatesViewModel

<form>
    <input type="hidden" name="Id" value="@Model.Id" />
    <div class="form-group">
        <label class="input-label" for="CandidateId">Candidate Id</label>
        <input type="text" readonly class="input-elements form-control" name="CandidateId" value="@Model.CandidateId" id="candidateId" />
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="form-group">
                <label class="input-label" for="FirstName">First Name</label>
                <input type="text" class="input-elements form-control" name="FirstName" value="@Model.FirstName" id="firstname" />
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <label class="input-label" for="LastName">Last Name</label>
                <input type="text" class="input-elements form-control" name="LastName" value="@Model.LastName" id="lastname" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="form-group">
                <label class="input-label" for="Email">Email</label>
                <input type="text" readonly class="input-elements form-control" name="Email" value="@Model.Email" id="email" />
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <label class="input-label" for="Password">Password</label>
                <input type="password" readonly class="input-elements form-control" name="Password" value="@Model.Password" id="password" />
            </div>
        </div>
    </div>
</form>
