@using JobPortal.Model.DataViewModel.Employer.JobPost
@{
    ViewData["Title"] = "Job Details";
}
<link href="~/css/CommanPopup.css" rel="stylesheet" />
<link href="~/css/Loader.css" rel="stylesheet" />

@section header {
    <meta property="og:url" content="/Job/JobDetails/?jobid=@Model.JobPostId" />
    <meta property="og:type" content="article" />
    <meta property="og:title" content="@Model.JobTitleByEmployer" />
    <meta property="og:description" content="@ViewBag.jDetails" />
    <meta property="og:image" content="@Model.CompanyLogo" />
}

<!-- Page Title End -->
@{
    UserViewModel user = Context.Session.Get<UserViewModel>(Constants.SessionKeyUserInfo);
    <!-- Titlebar
    ================================================== -->

    <div id="titlebar" class="banner-bg row" style="background-image: url(/Assets/images/all-categories-photo.jpg)">
        <div class="container titlebar-inner">
            <a href="#" class="employer-website">Website</a>
            <div class="row">
                <div class="col-sm-8">
                    <h2 class="whitetitle">@Model.CompanyName</h2>
                </div>
                <div class="col-sm-4 text-right spacer-top-10">
                    <a href="/JobSeekerManagement" class="btn btn-primary btn-lg">Search more jobs</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Content================================================== -->
    <div class="container company-info home-screen-section">
        <div class="employer-logo col-sm-3">
            <img src="@Model.CompanyLogo" alt="" class="responsive-img">
        </div>
        <div class="job-details col-sm-9">
            <div class="row spacer-top-20">
                <div class="col-sm-7">
                    <h2 class="blacktitle"> @Model.JobTitleByEmployer </h2>
                </div>
                <div class="col-sm-5">
                    <ul class="shareon-icon pull-right">
                        <li class="labeltext">Share On:</li>
                        <li><a href="@ViewBag.TwitterUrl@Model.JobPostId" target="_blank"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="@ViewBag.FBUrl@Model.JobPostId" target="_blank"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="@ViewBag.WhatsAppUrl@Model.JobPostId" target="_blank"><i class="fa fa-whatsapp"></i> </a></li>
                    </ul>
                </div>
            </div>
            <span class="job-type">@Model.EmploymentStatusName</span>

            <h4 class="spacer-top-20 subtitleblack">Required Skills</h4>
            <ul class="job-skills">
                @{
                    if (Model.Skills != null && Model.Skills.Length > 0)
                    {
                        string[] skills = Model.Skills.Split(',');
                        foreach (var skill in skills)
                        {
                            if (skill.Length > 1)
                            {
                                <li class="job-skill">@skill</li>
                            }
                        }
                    }
                    else
                    {
                        <li class="job-skill">N/A</li>
                    }
                }
            </ul>




            <h4 class="spacer-top-20 subtitleblack">Job Details</h4>
            @Html.Raw(Model.JobDetails)

        </div>
    </div>
    <div class="row panelbg-gray10 home-screen-section">
        <!-- Widgets -->
        <div class="container home-screen-section">
            <!-- Sort by -->
            <h2 class="blacktitle">Overview</h2>
            <ul class="job-overview row">
                <li class="col-sm-6">
                    <div class="row">
                        <strong class="col-xs-4">Location:</strong>
                        <span class="col-xs-8">@Model.StateCode, @Model.CityCode</span>
                    </div>
                </li>
                <li class="col-sm-6">
                    <div class="row">
                        <strong class="col-xs-4">Job Title:</strong>
                        <span class="col-xs-8">@Model.JobTitle</span>
                    </div>
                </li>
                <li class="col-sm-6">
                    <div class="row">
                        <strong class="col-xs-4">Career Level:</strong>
                        <span class="col-xs-8">@Model.JobTypeSummary</span>
                    </div>
                </li>
                <li class="col-sm-6">
                    <div class="row">
                        <strong class="col-xs-4">Annual Salary:</strong>
                        <span class="col-xs-8">@Model.CTC</span>
                    </div>
                </li>
                <li class="col-sm-6">
                    <div class="row">
                        <strong class="col-xs-4">Job Posted Date:</strong>
                        <span class="col-xs-8">@Model.PositionStartDate</span>
                    </div>
                </li>
            </ul>
            <div class="btn-row spacer-top-20 text-center">
                @if (@Model.IsApplied)
                {
                    <a href="javascript:void(0)" id="btnApply" class="btn btn-primary">Applied</a>
                }
                else
                {
                    if (@user == null)
                    {
                        <a href="#" id="btnApply" class="btn btn-primary" onclick="WarningPopup()">Apply For This Job</a>
                    }
                    else if (@user.RoleName == "Student")
                    {
                        <a href="#" id="btnApply" class="btn btn-primary" onclick="ConfrimationFoJobApply(@Model.JobPostId)">Apply For This Job</a>
                    }

                    else
                    {
                        <a href="#" id="btnApply" class="btn btn-primary" onclick="ApplyJobs(@Model.JobPostId)">Apply For This Job</a>
                    }

                }
            </div>
        </div>
        <!-- Widgets / End -->
    </div>
    <div id="small-dialog" class="container home-screen-section">
        <h2 class="text-center blacktitle">Apply For This Job</h2>
        <form action="#" method="get" class="col-sm-6 col-sm-offset-3">
            <div class="form-group">
                <label class="input-label">Full Name</label>
                <input type="text" placeholder="Full Name" value="" class="form-control input-elements" />
            </div>
            <div class="form-group">
                <label class="input-label">Email Address</label>
                <input type="text" placeholder="Email Address" value="" class="form-control input-elements" />
            </div>
            <div class="form-group">
                <label class="input-label">Message to employer</label>
                <textarea placeholder="Your message / cover letter sent to the employer" class="form-control input-elements"></textarea>
            </div>
            <div class="form-group">
                <label class="input-label">Upload your CV (Optional) <small>Max. file size: 5MB</small></label>
                <input type="file" multiple class="min-w-full form-control input-elements min-width-100" />
            </div>
            <div class="btn-row text-center spacer-top-20">
                <button class="btn btn-success">Send Application</button>
            </div>
        </form>
    </div>

    <!-- Modal -->
    <!-- ON Apply Job Begin -->
    <div id="myModal" class="modal fade" role="dialog" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-confirm">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="icon-box">
                        <i id="iconPopup" class="" aria-hidden="true"></i>
                    </div>
                    <h4 class="modal-title" id="tagiging"></h4>
                </div>
                <div class="modal-body">
                    <p class="text-center" id="tagginMessage"></p>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-success btn-block" style="display:block" id="btnSuccess" data-dismiss="modal">OK</button>
                    <button class="btn btn-success btn-block" style="display:none" id="btnWarning" onclick="RedirectProfile()" data-dismiss="modal">OK</button>
                    @*<button class="btn btn-success btn-block" data-dismiss="modal">OK</button>*@
                </div>
            </div>
        </div>
    </div>
    <!-- ON Apply Job END -->
    <!-- Confirmation Modal Begin -->
    <div id="confimationModel" class="modal fade" role="dialog" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-confirm">
            <div class="modal-content">

                <div class="modal-body">
                    <p class="text-center" style="font-size:15px">Are you sure to apply this job?</p>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-success" id="applyJobsbutton" value="">Yes</button>
                    <button class="btn btn-success" data-dismiss="modal">NO</button>

                </div>
            </div>
        </div>
    </div>
    <!-- Confirmation Model End -->
    <!---End Model-->
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v8.0&appId=544734402958846&autoLogAppEvents=1" nonce="oYQmyAJk"></script>
}
@section Scripts
    {
    <script src="~/js/Jobseeker/JobDetails.js"></script>
}
