@using JobPortal.Model.DataViewModel.Employer.JobPost
@{
    ViewData["Title"] = "Job Details";
}
<link href="~/css/CommanPopup.css" rel="stylesheet" />
<link href="~/css/Loader.css" rel="stylesheet" />

@section header {
    <meta property="og:url" content="/Job/JobDetails/?jobid=@Model.JobPostId" />
    <meta property="og:type" content="article" />
    <meta property="og:title" content="@Model.JobTitleByEmployer" />
    <meta property="og:description" content="@ViewBag.jDetails" />
    <meta property="og:image" content="@Model.CompanyLogo" />
}

<!-- Page Title End -->
@{
    UserViewModel user = Context.Session.Get<UserViewModel>(Constants.SessionKeyUserInfo);
    <!-- Titlebar
    ================================================== -->

    <div id="titlebar" class="banner-bg row" style="background-image: url(/Assets/images/all-categories-photo.jpg)">
        <div class="container titlebar-inner">
            <a href="#" class="employer-website">Website</a>
            <div class="row">
                <div class="col-sm-8">
                    <h2 class="whitetitle">@Model.CompanyName</h2>
                </div>
                <div class="col-sm-4 text-right spacer-top-20">
                    <a href="/JobSeekerManagement" class="btn btn-primary btn-lg">Search more jobs</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Content================================================== -->
    <div class="container company-info spacer-top-20">
        <div class="employer-logo col-sm-4">
            <img src="@Model.CompanyLogo" alt="" class="responsive-img">
        </div>
        <div class="job-details col-sm-8">
            <div class="row">
                <div class="col-sm-7">
                    <h2 class="blacktitle"> @Model.JobTitleByEmployer </h2>
                </div>
                <div class="col-sm-5">
                    <ul class="shareon-icon pull-right">
                        <li class="labeltext">Share On:</li>
                        <li><a href="@ViewBag.TwitterUrl@Model.JobPostId" target="_blank"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="@ViewBag.FBUrl@Model.JobPostId" target="_blank"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="@ViewBag.WhatsAppUrl@Model.JobPostId" target="_blank"><i class="fa fa-whatsapp"></i> </a></li>
                    </ul>
                </div>
            </div>
            <span class="job-type">@Model.EmploymentStatusName</span>

            <h4 class="spacer-top-20 subtitleblack">Required Skills</h4>
            <ul class="job-skills">
                @{
                    if (Model.Skills != null && Model.Skills.Length > 0)
                    {
                        string[] skills = Model.Skills.Split(',');
                        foreach (var skill in skills)
                        {
                            if (skill.Length > 1)
                            {
                                <li class="job-skill">@skill</li>
                            }
                        }
                    }
                    else
                    {
                        <li class="job-skill">N/A</li>
                    }
                }
            </ul>




            <h4 class="spacer-top-20 subtitleblack">Job Details</h4>
            @Html.Raw(Model.JobDetails)

        </div>
    </div>
    <!-- Widgets -->
    <div class="five columns">
        <!-- Sort by -->
        <div class="widget">
            <h3>Overview</h3>
            <div class="job-overview">

                <ul>
                    <li>
                        <i class="fa fa-map-marker"></i>
                        <div>
                            <strong>Location:</strong>
                            <span>@Model.StateCode, @Model.CityCode</span>
                        </div>
                    </li>
                    <li>
                        <i class="fa fa-user"></i>
                        <div>
                            <strong>Job Title:</strong>
                            <span>@Model.JobTitle</span>
                        </div>
                    </li>
                    <li>
                        <i class="fa fa-user"></i>
                        <div>
                            <strong>Career Level:</strong>
                            <span>@Model.JobTypeSummary</span>
                        </div>
                    </li>
                    <li>
                        <i class="fa fa-money"></i>
                        <div>
                            <strong>Annual Salary:</strong>
                            <span>@Model.CTC</span>
                        </div>
                    </li>
                    <li>
                        <i class="fa fa-clock-o"></i>
                        <div>
                            <strong>Job Posted Date:</strong>
                            <span>@Model.PositionStartDate</span>
                        </div>
                    </li>

                </ul>

                @if (@Model.IsApplied)
                {
                    <a href="javascript:void(0)" id="btnApply" class="button">Applied</a>
                }
                else
                {
                    if (@user == null)
                    {
                        <a href="#" id="btnApply" class="button" onclick="WarningPopup()">Apply For This Job</a>
                    }
                    else if (@user.RoleName == "Student")
                    {
                        <a href="#" id="btnApply" class="button" onclick="ConfrimationFoJobApply(@Model.JobPostId)">Apply For This Job</a>
                    }

                    else
                    {
                        <a href="#" id="btnApply" class="button" onclick="ApplyJobs(@Model.JobPostId)">Apply For This Job</a>
                    }

                }
            </div>
        </div>
    </div>
    <!-- Widgets / End -->

    <div id="small-dialog" class="zoom-anim-dialog mfp-hide apply-popup">
        <div class="small-dialog-headline">
            <h2>Apply For This Job</h2>
        </div>
        <div class="small-dialog-content">
            <form action="#" method="get">
                <input type="text" placeholder="Full Name" value="" />
                <input type="text" placeholder="Email Address" value="" />
                <textarea placeholder="Your message / cover letter sent to the employer"></textarea>
                <!-- Upload CV -->
                <div class="upload-info"><strong>Upload your CV (optional)</strong> <span>Max. file size: 5MB</span></div>
                <div class="clearfix"></div>
                <label class="upload-btn">
                    <input type="file" multiple />
                    <i class="fa fa-upload"></i> Browse
                </label>
                <span class="fake-input">No file selected</span>
                <div class="divider"></div>
                <button class="send">Send Application</button>
            </form>
        </div>

    </div>

    <!-- Modal -->
    <!-- ON Apply Job Begin -->
    <div id="myModal" class="modal fade" role="dialog" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-confirm">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="icon-box">
                        <i id="iconPopup" class="" aria-hidden="true"></i>
                    </div>
                    <h4 class="modal-title" id="tagiging"></h4>
                </div>
                <div class="modal-body">
                    <p class="text-center" id="tagginMessage"></p>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-success btn-block" style="display:block" id="btnSuccess" data-dismiss="modal">OK</button>
                    <button class="btn btn-success btn-block" style="display:none" id="btnWarning" onclick="RedirectProfile()" data-dismiss="modal">OK</button>
                    @*<button class="btn btn-success btn-block" data-dismiss="modal">OK</button>*@
                </div>
            </div>
        </div>
    </div>
    <!-- ON Apply Job END -->
    <!-- Confirmation Modal Begin -->
    <div id="confimationModel" class="modal fade" role="dialog" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-confirm">
            <div class="modal-content">

                <div class="modal-body">
                    <p class="text-center" style="font-size:15px">Are you sure to apply this job?</p>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-success" id="applyJobsbutton" value="">Yes</button>
                    <button class="btn btn-success" data-dismiss="modal">NO</button>

                </div>
            </div>
        </div>
    </div>
    <!-- Confirmation Model End -->
    <!---End Model-->
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v8.0&appId=544734402958846&autoLogAppEvents=1" nonce="oYQmyAJk"></script>
}
@section Scripts
    {
    <script src="~/js/Jobseeker/JobDetails.js"></script>
}
