@using JobPortal.Model.DataViewModel.JobSeeker
@model IEnumerable<SearchJobListViewModel>
@{
    ViewData["Title"] = "SearchJobList";
}
<link href="~/css/CommanPopup.css" rel="stylesheet" />
<link href="~/lib/jquery/jquery-ui.min.css" rel="stylesheet" />
<link href="~/css/Loader.css" rel="stylesheet" />
<link href="~/css/JobSeeker/search-jobs.css" rel="stylesheet" />

<!-- Page Title start -->
<div class="pageTitle">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6">
                <h1 class="page-heading">Job Listing</h1>
            </div>
            <div class="col-md-6 col-sm-6">
                <div class="breadCrumb"><a href="/Home/Index/">Home</a> / <span>Job List</span></div>
            </div>
        </div>
    </div>
</div>

<!-- Confirmation Modal Begin -->
<div id="confimationModel" class="modal fade" role="dialog" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-confirm">
        <div class="modal-content">

            <div class="modal-body">
                <p class="text-center" style="font-size:15px">Are you sure to apply this job?</p>
            </div>
            <div class="modal-footer">
                <button class="btn btn-success" id="applyJobsbutton" value="">Yes</button>
                <button class="btn btn-success" data-dismiss="modal">NO</button>

            </div>
        </div>
    </div>
</div>
@{
    UserViewModel user = Context.Session.Get<UserViewModel>(Constants.SessionKeyUserInfo);
    var filters = ViewBag.Searches as SearchJobViewModel;
    var SearchesInJson = JsonConvert.SerializeObject(filters);
    <input type="hidden" id="hdnFilters" value="@SearchesInJson">
    <div class="container">
        <!-- Recent Jobs -->
        <div class="eleven columns">
            <div class="padding-right">
                @if (Model.Count() < 1)
                {
                    <br/>
                    <div class="alert alert-danger" role="alert"><strong>Oh snap!</strong>&nbsp; Jobs not found</div>

                }
                else
                {
                <div class="listings-container">
                    @foreach (var item in Model)
                    {
                        <!-- Listing -->
                        <a href="/Job/JobDetails/?jobid=@item.JobPostId" class="listing full-time">
                            <div class="listing-logo">
                                <img src="@item.CompanyLogo" alt="Logo">
                            </div>
                            <div class="listing-title">
                                <h4>@item.JobTitleByEmployer <span class="listing-type">@item.EmploymentStatus</span></h4>
                                <ul class="listing-icons">
                                    <li><i class="ln ln-icon-Management"></i> @item.CompanyName</li>
                                    <li><i class="ln ln-icon-Map2"></i> @item.City</li>
                                    <li><i class="ln ln-icon-Money-2"></i>@item.CTC</li>
                                    <li><div class="listing-date new">@item.NumberOfDays&#8203; days ago</div></li>
                                </ul>
                                <div class="skills">
                                    <!--<span style="background-color:white;color:#808080 !important;font-weight:300 !important">Skills: </span>-->
                                    @{
                                        if (!string.IsNullOrEmpty(item.Skills) && item.Skills.Length > 0)
                                        {
                                            string[] skills = item.Skills.Split(',');
                                            foreach (var skill in skills)
                                            {
                                                if (skill.Length > 1)
                                                {                                                    
                                                    <span>@skill</span>
                                                }
                                            }
                                        }
                                        else
                                        {
                                            <span>N/A</span>
                                        }
                                    }
                                </div>
                            </div>
                        </a>
                    }
                </div>
                }
                <div class="clearfix"></div>
                <div class="pagination-container">
                    <nav class="pagination">
                        <ul id="pagin"></ul>
                    </nav>
                    <nav class="pagination-next-prev">
                        <ul>
                            <!-- <li><a class="prev">Previous</a></li> -->
                            <li><a class="next">Next</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
        <div class="five columns">
            
            <div class="widget">
                <h4>Jobs By City</h4>
                <input type="text" class="filter-search-box" placeholder="Search" />
                <ul class="checkboxes">
                    @{
                        if (ViewBag.City != null && ViewBag.City.Count > 0)
                        {
                            int j = 0;
                            foreach (var item in ViewBag.City)
                            {
                                if (item.CountValue > 0)
                                {
                                    <li>
                                        <input type="checkbox" @if (filters.City.Any(c => c == item.CityCode)) { <text> checked</text> } name="checkname" id="Name_@j" value="@item.CityCode" onchange="SearchCity(this)" />
                                        <label for="Name_@j"></label>
                                        @item.City <span>@item.CountValue</span>
                                    </li>
                                    j = j + 1;
                                }
                            }
                        }
                        else
                        {
                            <li>
                                <label style="color:red;"> Cities not available</label>
                            </li>
                        }
                    }
                </ul>
            </div>
            <div class="widget">
                <h4>Jobs By Company</h4>
                <input type="text" class="filter-search-box" placeholder="Search" />
                <ul class="checkboxes expandible expanded">
                    @{
                        if (ViewBag.Company != null && ViewBag.Company.Count > 0)
                        {
                            int k = 0;
                            foreach (var item in ViewBag.Company)
                            {
                                if (item.CountValue > 0)
                                {
                                    <li>
                                        <input type="checkbox" @if (filters.CompanyUserId.Any(c => c == Convert.ToString(item.UserId))) { <text> checked</text> } name="CompanyName" id="CompanyName_@k" value="@item.UserId" onchange="SearchCompany(this)" />
                                        <label for="CompanyName_@k"></label>
                                        @item.CompanyName <span>@item.CountValue</span>
                                    </li>
                                    k = k + 1;
                                }
                            }
                        }
                        else
                        {
                            <li>
                                <label style="color:red;"> Company not available</label>
                            </li>
                        }
                    }

                </ul>
            </div>
        </div>
    </div>
}

<!-- Confirmation Model End -->
@section Scripts
    {
    <script>
        $(document).ready(function () {
            pageSize = 6;
            incremSlide = 6;
            startPage = 0;
            numberPage = 0;
            $('ul.expandible').each(function () {
                var $ul = $(this),
                    $lis = $ul.find('li:gt(4)'),
                    isExpanded = $ul.hasClass('expanded');
                $lis[isExpanded ? 'show' : 'hide']();

                if ($lis.length > 0) {
                    $ul
                        .append($('<span class="showmore"><li class="expand">' + (isExpanded ? 'Show Less' : 'Show More') + '</li></span>')
                            .click(function (event) {
                                var isExpanded = $ul.hasClass('expanded');
                                event.preventDefault();
                                $(this).html(isExpanded ? 'Show More' : 'Show Less');
                                $ul.toggleClass('expanded');
                                $lis.toggle();
                            }));
                }
            });
        });
    </script>
    @*<script src="~/lib/jquery/jquery-ui.min.js"></script>*@
    <script src="~/js/Shared/pagination.js"></script>
    <script src="~/js/Jobseeker/jobsearch.js"></script>
    <script src="~/js/Jobseeker/JobDetails.js"></script>
}
