@using JobPortal.Model.DataViewModel.JobSeeker
@model IEnumerable<SearchJobListViewModel>
@{
    ViewData["Title"] = "SearchJobList";
}
<link href="~/css/CommanPopup.css" rel="stylesheet" />
<link href="~/lib/jquery/jquery-ui.min.css" rel="stylesheet" />
<link href="~/css/Loader.css" rel="stylesheet" />
<link href="~/css/JobSeeker/search-jobs.css" rel="stylesheet" />

<!-- Page Title start -->
<div id="titlebar" class="banner-bg row" style="background-image: url(/Assets/images/all-categories-photo.jpg);">
    <div class="container titlebar-inner">
        <div class="row">
            <div class="col-sm-8">
                <h2 class="whitetitle">Job Listing</h2>
            </div>
        </div>
    </div>
</div>


@{
    UserViewModel user = Context.Session.Get<UserViewModel>(Constants.SessionKeyUserInfo);
    var filters = ViewBag.Searches as SearchJobViewModel;
    var SearchesInJson = JsonConvert.SerializeObject(filters);
    <input type="hidden" id="hdnFilters" value="@SearchesInJson">
    <div class="home-screen-section row">
        <div class="container">

            <!-- Recent Jobs -->
            <div class="col-sm-12">
                <div class="row d-flex">
                    <div class="sidebar-search">
                        <div class="sidebar-widget col-xs-12">
                            <h4>Jobs By City</h4>
                            <input type="text" class="filter-search-box" placeholder="Search" />
                            <ul class="checkboxes">
                                @{
                                    if (ViewBag.City != null && ViewBag.City.Count > 0)
                                    {
                                        int j = 0;
                                        foreach (var item in ViewBag.City)
                                        {
                                            if (item.CountValue > 0)
                                            {
                                                <li>
                                                    <input type="checkbox" @if (filters.City.Any(c => c == item.CityCode)) { <text> checked</text> } name="checkname" id="Name_@j" value="@item.CityCode" onchange="SearchCity(this)" />
                                                    <label for="Name_@j"></label>
                                                    @item.City (<span>@item.CountValue</span>)
                                                </li>
                                                j = j + 1;
                                            }
                                        }
                                    }
                                    else
                                    {
                                        <li>
                                            <label style="color:red;"> Cities not available</label>
                                        </li>
                                    }
                                }
                            </ul>
                        </div>
                        <div class="sidebar-widget col-xs-12">
                            <h4>Jobs By Company</h4>
                            <input type="text" class="filter-search-box" placeholder="Search" />
                            <ul class="checkboxes expandible expanded">
                                @{
                                    if (ViewBag.Company != null && ViewBag.Company.Count > 0)
                                    {
                                        int k = 0;
                                        foreach (var item in ViewBag.Company)
                                        {
                                            if (item.CountValue > 0)
                                            {
                                                <li>
                                                    <input type="checkbox" @if (filters.CompanyUserId.Any(c => c == Convert.ToString(item.UserId))) { <text> checked</text> } name="CompanyName" id="CompanyName_@k" value="@item.UserId" onchange="SearchCompany(this)" />
                                                    <label for="CompanyName_@k">
                                                        @item.CompanyName (<span>@item.CountValue</span>)
                                                    </label>
                                                </li>
                                                k = k + 1;
                                            }
                                        }
                                    }
                                    else
                                    {
                                        <li>
                                            <label style="color:red;"> Company not available</label>
                                        </li>
                                    }
                                }

                            </ul>
                        </div>
                    </div>
                    <div class="flex-1 mobile-full-screen">
                        @if (Model.Count() < 1)
                        {
                            <div class="alert alert-danger" role="alert"><strong>Oh snap!</strong> Jobs not found</div>
                        }
                        else
                        {
                            <div class="col-sm-12">
                                <h2 class="blacktitle">We found best matching:</h2>
                                <div class="job-lists row two-column">
                                    @foreach (var item in Model)
                                    {
                                        <div class="job-lists-item col-md-6 col-xs-12">
                                            <div class="job-list-content col-xs-12">
                                                <div class="col-xs-3 company">
                                                    <a href="/Job/JobDetails/?jobid=@item.JobPostId" class="company-logo">
                                                        <img src="@item.CompanyLogo" alt="Logo" class="responsive-img">
                                                    </a>
                                                </div>
                                                <div class="job-list-details col-xs-9">
                                                    <h4><a href="/Job/JobDetails/?jobid=@item.JobPostId" class="company-logo">@item.JobTitleByEmployer</a> <span class="listing-type">@item.EmploymentStatus</span></h4>
                                                    <ul class="job-discription">
                                                        <li>@item.CompanyName</li>
                                                        <li>@item.City</li>
                                                        <li>@item.CTC</li>
                                                        <li><span>@item.NumberOfDays</span><span> days ago</span></li>
                                                    </ul>
                                                    <div class="skills">
                                                        <!--<span style="background-color:white;color:#808080 !important;font-weight:300 !important">Skills: </span>-->
                                                        @{
                                                            if (!string.IsNullOrEmpty(item.Skills) && item.Skills.Length > 0)
                                                            {
                                                                string[] skills = item.Skills.Split(',');
                                                                foreach (var skill in skills)
                                                                {
                                                                    if (skill.Length > 1)
                                                                    {
                                                                        <span>@skill</span>
                                                                    }
                                                                }
                                                            }
                                                            else
                                                            {
                                                                <span>N/A</span>
                                                            }
                                                        }
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        }
                        <nav class="pagination">
                            <ul id="pagin"></ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
}


<!-- Confirmation Modal Begin -->
<div id="confimationModel" class="modal fade" role="dialog" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-confirm">
        <div class="modal-content">

            <div class="modal-body">
                <p class="text-center" style="font-size:15px">Are you sure to apply this job?</p>
            </div>
            <div class="modal-footer">
                <button class="btn btn-success" id="applyJobsbutton" value="">Yes</button>
                <button class="btn btn-success" data-dismiss="modal">NO</button>

            </div>
        </div>
    </div>
</div>

<!-- Confirmation Model End -->
@section Scripts
    {
    <script>
        $(document).ready(function () {
            pageSize = 6;
            incremSlide = 6;
            startPage = 0;
            numberPage = 0;
            $('ul.expandible').each(function () {
                var $ul = $(this),
                    $lis = $ul.find('li:gt(4)'),
                    isExpanded = $ul.hasClass('expanded');
                $lis[isExpanded ? 'show' : 'hide']();

                if ($lis.length > 0) {
                    $ul
                        .append($('<span class="showmore"><li class="expand">' + (isExpanded ? 'Show Less' : 'Show More') + '</li></span>')
                            .click(function (event) {
                                var isExpanded = $ul.hasClass('expanded');
                                event.preventDefault();
                                $(this).html(isExpanded ? 'Show More' : 'Show Less');
                                $ul.toggleClass('expanded');
                                $lis.toggle();
                            }));
                }
            });
        });
    </script>
    @*<script src="~/lib/jquery/jquery-ui.min.js"></script>*@
    <script src="~/js/Shared/pagination.js"></script>
    <script src="~/js/Jobseeker/jobsearch.js"></script>
    <script src="~/js/Jobseeker/JobDetails.js"></script>
}
